body {
	background: #000;
}

/* Homepage */
#logoImage, .span3 #logo /* (RSVP form) */ {
	/* TODO: Add a semanticly meaningful class to the RSVP logo */
	filter: invert(60%);
	-webkit-filter: invert(60%);
	-moz-filter: invert(60%);
	-o-filter: invert(60%);
	-ms-filter: invert(60%);
}

.circle, .blank {	
	border: solid 1px #111;	
}
.blank {
	border: solid 1px transparent;
}

.inner {
	background: #000;	
}

.lead {
	background: #666;
	border: solid 1px transparent;
}

.follow {
	background-color: #AAA;
	border: solid 1px transparent;
}

.both {
	background: #883;
	border: solid 1px transparent;
}

.tooltip-inner {
	background: #111;
}

/* Main styles */
.container, .container-fluid {
	background: #111;
}

.container, .container-fluid {
	-webkit-box-shadow:  0px 0px 8px 1px rgba(11, 11, 11, 1);
	box-shadow:  0px 0px 8px 1px rgba(11, 11, 11, 1);
}

.footer {
	background: transparent;
}

div, span, p, address, .footer, .footer a, .footer .license a:hover { 
	color: #888;
}
h1, h2, h3, h4, h5, h6, .fancyEventName {
	color: #ccc;
}

.img-polaroid {
	background-color: #050505;
}


/* RSVP Form */
input, input:focus {
	background: black !important;
	color: #888 !important;
}

input:required {		
    border-color: black !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#email.sb-invalid, #name.sb-invalid, #emailConfirm.sb-invalid {
	border-color: #500 !important;
}

/* Hide the logos, because PNG transparency on black is not happy AT ALL */
#logoLead, #logoFollow, #logoBoth {
	display: none !important;
}

.choice-group:hover {
   	background: #220;
}

.hostrue, .hostrue:hover, .carpooltrue, .carpooltrue:hover  {
	background: #220;
}
.staytrue, .staytrue:hover {
	background: #220;
}
.shirtrue, .shirtrue:hover, .traintrue, .traintrue:hover {
	background: #220;
}
.voluntrue, .voluntrue:hover {
	background: #220;
}
.dancetrue, .dancetrue:hover {
	background: #220;
}

.popover {
	background: #111;
}
.popover-title {
	background: #222;
	border-bottom: 1px solid #444;
}

.popover.top .arrow {
  border-top-color: #111;
}

.popover.top .arrow:after {
  border-top-color: rgba(0, 0, 0, 0.25);
}

.popover.right .arrow {  
  border-right-color: #111;  
}

.popover.right .arrow:after {  
  border-right-color: rgba(0, 0, 0, 0.25);  
}

.popover.bottom .arrow {
  border-bottom-color: #111;  
}

.popover.bottom .arrow:after {
  border-bottom-color: rgba(0, 0, 0, 0.25);  
}

.popover.left .arrow {
  border-left-color: #111;  
}

.popover.left .arrow:after {
  border-left-color: rgba(0, 0, 0, 0.25);
}
