body {
	background-color: white;
}
#homeBanner {	
	padding-top: 142px;
	text-align: center;	
	min-width: 300px;
	opacity: 0.95;
	position: relative;
	z-index: 1;
	/*display: none;*/
}
.date {	
	padding-top: 1em;	
}
.city {
	font-family: 'Petit Formal Script', sans-serif;	
	font-size: 20pt;
	font-weight: normal;
	color: #772;
}

.footer {
	display: none;
}

#attendance {	
	position: absolute;	
	width: 550px;
	right: 12px;
	margin-top: 12px;
	opacity: 0.9;
	display: none;
	z-index: 10;
}

#attendance #label {
	font-family: 'Petit Formal Script', sans-serif;	
	font-size: 10pt;
	text-align: right;
	font-weight: bold;
	/*margin-right: 5px;*/
	/*display: none;*/	
}

.circle, .blank {
	height: 15px;
	width: 15px;
	border-radius: 10px;

	float: left;	
	padding: 0;
	margin: 0;

	background: transparent;
	
	border: solid 1px transparent;	
	margin: 0;
	margin-bottom: 2px;
	margin-left: 2px;

/*	-webkit-box-shadow:  0px 0px 1px 1px rgba(88, 88, 88, 1);
	box-shadow:  0px 0px 1px 1px rgba(88, 88, 88, 1);*/
}
.circle {
	z-index: 10;
}
.blank {
	border: solid 1px transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.inner {
	height: 11px;
	width: 11px;
	border-radius: 10px;
	margin: 2px 2px 2px 2px;

	background: white;	
}

.lead {
	background: #666;
	border: solid 1px transparent;
}

.follow {
	background-color: #AAA;
	border: solid 1px transparent;
}

.both {
	background: #883;
	border: solid 1px transparent;
}
.lead, .follow, .both {

}
.empty {

}