/* Navbar */
.square {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar {
	font-family: 'Asap', sans-serif;   
}
.navbar {
	font-size: 12pt;
}
.navbar .active a {
	/*color: #883 !important;*/   
}
.brand {
	font-family: serif;
}


/* Main */
.container, .container-fluid {
		background: white;
		padding: 3em;
		padding-right: 6em;
		padding-top: 1em; 
		margin-top: 1.5em;

		/* horizontal offset, vertical offset, thickness, fade */
		-webkit-box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);
		box-shadow:  0px 0px 8px 1px rgba(44, 44, 44, 1);
}

/* Bootstrap replacement for spans */
.max12, .max4 {
	float: left;
	min-height: 1px;
	max-width: 940px;
	margin-left: 20px;
	margin-right: 20px;
}
.max12 {
	width: 100%;
}
.max4 {
	max-width: 300px;
	min-width: 250px;
}


body {
		background: #444;   	
}

h1 {
	font-family: 'Petit Formal Script', cursive;
	font-weight: normal;
}

#rsvpLink, #guestsLink {
	color: #772 !important;
}

a, .swing {
	color: #772;
	/*color: olive;*/
}
a:hover, .swing:hover, .blues:hover {
	color: #662;
}
.blues {
	color: #772;
	/*color: #bd934f;  */
}


/* Footer */
.footer, .footer a, .footer .license a:hover {
	background: inherit;
	text-align: center;
	color: white;
	font-size: small;
}

.footer a:hover {
	color: #883;
}

.footer a:hover.blues {
	color: #bd934f;
}

.footer {   
	background: transparent;
	padding-top: 0;
	margin-top: 0;
}

.footer .license {
	text-align: right;
	margin-top: 1em; 
	font-size: smaller;
	margin-right: -7em;
	padding-right: -7em;
}

.footer .license a, .footer .license a:hover {
	font-size: 1em;
}

.footer.container {
	-webkit-box-shadow:  inherit;
	box-shadow:  inherit;
}
