<h5>Volunteers.</h5>
<form novalidate>
	<input type="text" ng-model="volunteer.name" placeholder="First name" style="margin-top: 1ex"/>
	<button class="btn" ng-click="showSchedule(volunteer.name)">That's me</button>
</form>

<div ng-show="personCount > 1">Which {{name | capitalize}}?
	<div ng-repeat="person in personList">
		<a href="" ng-click="showSchedule(volunteer.name, person)">{{person}}</a>
	</div>
</div>

<div ng-hide="personCount > 1">
	<p ng-hide="!name">Showing schedule for {{name | capitalize}}<span ng-show="exactly">. 
		More specifically, {{exactly}}</span>:</p>

	<div ng-show="friday.length > 0">
		<h4>Friday</h4>
		<div class="timeslot" ng-repeat="slot in friday" ng-class-odd="'odd'">
			<div>Friday: <strong>{{slot.time}}</strong></div>
			<div>Location: {{slot.location}}</div>
			<div>Role: {{slot.role}}</div>
			<div>Specifics: {{slot.detail}}</div>
			<div>Contact: {{slot.contact}}</div>
		</div>
	</div>

	<div ng-show="saturday.length > 0">
		<h4>Saturday</h4>
		<div class="timeslot" ng-repeat="slot in saturday" ng-class-odd="'odd'">
			<div>Saturday: <strong>{{slot.time}}</strong></div>
			<div>Location: {{slot.location}}</div>
			<div>Role: {{slot.role}}</div>
			<div>Specifics: {{slot.detail}}</div>
			<div>Contact: {{slot.contact}}</div>
		</div>
	</div>

	<div ng-show="sunday.length > 0">
		<h4>Sunday</h4>
		<div class="timeslot" ng-repeat="slot in sunday" ng-class-odd="'odd'">
			<div>Sunday: <strong>{{slot.time}}</strong></div>
			<div>Location: {{slot.location}}</div>
			<div>Role: {{slot.role}}</div>
			<div>Specifics: {{slot.detail}}</div>
			<div>Contact: {{slot.contact}}</div>
		</div>
	</div>
</div>
<p style="margin-top: 2em">Notes:</p>
<ul>
	<li>Front-desk shifts are 30 minutes.</li>
	<li>About 47 people are volunteering.</li>
	<li>Please contact Hannah or Laurel for things.</li>
	<li>:-)</li>
</ul>
<p style="margin-top: 1em">Thank you.</p>
