<style>
.entry {
	padding-left: 2ex;
	padding-top: 1.1em;
}
.entry h4 {
	font-weight: normal;
}
.entry h6 {
	color: #888;
}
.entry pre {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: 0;
	padding-top: 0;
	border: none;
	background-color: transparent;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.entry.odd  {
	background-color: #f6f6f6;
}
</style>

<h4>Survey: Comments</h4>
<div class="show{{loggedOut}}">(You are probably not logged in, at the moment. 
	<a href='/data/admin/auth/google'>Log in</a>.)</div>

<h4>Count: {{surveys.length}}</h4>
<div class="entry" ng-repeat="survey in surveys" ng-class-odd="'odd'" style="margin-top: 2.4em">
	<h6>survey id: {{survey._id}}</h6>
	<h4>Which days?</h4>
	<ul>
		<li ng-show="survey.present.friday">Friday</li>
		<li ng-show="survey.present.saturday">Saturday</li>
		<li ng-show="survey.present.sunday">Sunday</li>
		<li ng-hide="survey.present.friday || survey.present.saturday || survey.present.sunday">
			None <span ng-show="wasPresent(survey)">... Actually, this person said they attended, but did not say which days.</span></li>
	</ul>

	<div ng-show="wasPresent(survey)">
		<h4>Why did you decide to attend?</h4>
		<pre>{{survey.whyAttended}}</pre>

		<h4>How did it go for you?</h4>
		<pre>{{survey.howDidItGo}}</pre>

		<h4>Anything else we should know about?</h4>
		<pre>{{survey.anythingElse}}</pre>

		<h4>Any comments for the DJs?</h4>
		<pre>{{survey.event.DJcomments}}</pre>

		<h4>Last words?</h4>
		<pre>{{survey.lastWords}}</pre>
	</div>

	<div ng-show="!wasPresent(survey)">
		<h4>What town do you live in?</h4>
		<pre>{{survey.absent.zip}}</pre>

		<h4>Did someone invite you?</h4>
		<pre>{{survey.absent.invited}}</pre>

		<h4>Any comments?</h4>
		<pre>{{survey.absent.comments}}</pre>
	</div>
</div>