<form novalidate class="css-form">
	<div class="span8">
		<h4>Check a box, maybe?</h4>
		<div class="question-section diet-group">			
			<label class="checkbox choice-group fun{{person.diet.fun}}">
				<input type="checkbox" ng-model="person.diet.fun"/>
				<span>I like checking boxes.</span>
			</label>

			<label class="checkbox choice-group {{person.diet.vegan}}">
				<input type="checkbox" ng-model="person.diet.vegan"/>
				<span>Vegan</span>
			</label>

			<label class="checkbox choice-group {{person.diet.vegetarian}}">
				<input type="checkbox" ng-model="person.diet.vegetarian"/>
				<span>Vegetarian</span>
			</label>
		</div>

		<h4>Check the things you do not want to eat.</h4>
		<div class="question-section many-choice-group">	
			<label class="checkbox choice-group span3 {{person.allergies.milk}}">
				<input type="checkbox" ng-model="person.allergies.milk"/>
				<span>Milk</span>
			</label>

			<label class="checkbox choice-group span3 {{person.allergies.eggs}}">
				<input type="checkbox" ng-model="person.allergies.eggs"/>
				<span>Eggs</span>
			</label>

			<label class="checkbox choice-group span3 {{person.allergies.peanuts}}">
				<input type="checkbox" ng-model="person.allergies.peanuts"/>
				<span>Peanuts</span>
			</label>

			<label class="checkbox choice-group span3 {{person.allergies.cyanide}}">
				<input type="checkbox" ng-model="person.allergies.cyanide"/>
				<span>Cyanide</span>
			</label>

			<label class="checkbox choice-group span3 {{person.allergies.treeNuts}}">
				<input type="checkbox" ng-model="person.allergies.treeNuts"/>
				<span>Almonds, cashews, walnuts</span>
			</label>

			<label class="checkbox choice-group span3 {{person.allergies.fish}}">
				<input type="checkbox" ng-model="person.allergies.fish"/>
				<span>Bass, cod, flounder</span>
			</label>

			<label class="checkbox choice-group span3 {{person.allergies.poison}}">
				<input type="checkbox" ng-model="person.allergies.poison"/>
				<span>Poison</span>
			</label>

			<label class="checkbox choice-group span3 {{person.allergies.shellfish}}">
				<input type="checkbox" ng-model="person.allergies.shellfish"/>
				<span>Crab, lobster, shrimp</span>
			</label>

			<label class="checkbox choice-group span3 {{person.allergies.soy}}">
				<input type="checkbox" ng-model="person.allergies.soy"/>
				<span>Soy</span>
			</label>

			<label class="checkbox choice-group span3 {{person.allergies.wheat}}">
				<input type="checkbox" ng-model="person.allergies.wheat"/>
				<span>Wheat</span>
			</label>
		</div>

		<h4 style="clear: left; padding-top: 1.5em">Another box.</h4>
		<div class="question-section">			
			<label class="checkbox choice-group fun{{person.food.canHaz}}" ng-click="removeFrown('food')">
				<input type="checkbox" ng-model="person.food.canHaz"/>
				<span>I like yummy food.</span>
				<img src="./img/glyphicons_209_cart_in.png"
				height="24" width="26" />
				<span class="frown{{frowns.food}} label label-important" style="padding-left: 0.7ex">:-(</span>
			</label>
		</div>

		<div class="question-section">
			<button class="btn btn-inverse next" ng-click="onward()">Ok, I'm ready</button>
		</div>
	</div>

		<div class="span3 visible-desktop">
			<img id="logo" src="./img/swing-logo-black.png"/>
			<img id="logoLead" class="{{person.dancer.role}}" src="./img/logo-yellow-lead.png"/>
			<img id="logoFollow" class="{{person.dancer.role}}" src="./img/logo-yellow-follow.png"/>
			<img id="logoBoth" class="{{person.dancer.role}}" src="./img/logo-yellow-ring.png"/>
		</div>

<!-- 	<pre style="clear: left">form = {{person | json}}</pre>	
 --></form>