<form novalidate class="css-form">
	<div class="span8">
		<div ng-show="person.housing.host">
			<h4>Thanks for possibly hosting.</h4>
			<p>How many guests can you maybe put up for the weekend?</p>
			<input type="text" placeholder="" ng-model="person.host.guestCount"/>

			<h4>And, what's your situation?</h4>
			<div class="question-section details-group">
				<label class="checkbox choice-group {{person.host.hasPets}}">
					<input type="checkbox" ng-model="person.host.hasPets"/>
					<span>I have a dog or a cat.</span>
					<img src="./img/glyphicons_002_dog.png" height="25" width="26"  style="margin-top: -4px" />
				</label>

				<label class="checkbox choice-group {{person.host.smokes}}">
					<input type="checkbox" ng-model="person.host.smokes"/>
					<span>I smoke.</span>
					<img src="./img/glyphicons_084_heat.png" height="25" width="29" style="margin-top: -2px" />
				</label>

				<label class="checkbox choice-group {{person.host.smokersAllowed}}">
					<input type="checkbox" ng-model="person.host.smokersAllowed"/>
					<span>Housing someone who smokes is cool with me.</span>
					<img src="./img/glyphicons_254_fishes.png" height="30" width="28" style="margin-top: -4px"/>
				</label>

				<label class="checkbox choice-group {{person.host.hasTransportation}}">
					<input type="checkbox" ng-model="person.host.hasTransportation"/>
					<span>I am able to offer transportation to my guests.</span>
					<img src="./img/glyphicons_028_cars.png" height="25" width="36" style="margin-top: -2px" />
				</label>
			</div>
		</div>

		<div class="beforePayment" ng-show="hasHousingRequest()">
			<h4>What should your host know about you?</h4>
			<div class="question-section details-group">
				<label class="checkbox choice-group {{person.guest.hasPetAllergy}}">
					<input type="checkbox" ng-model="person.guest.hasPetAllergy"/>
					<span>I'm allergic to dogs or cats.</span>
					<img src="./img/glyphicons_002_dog.png" height="25" width="26"  style="margin-top: -4px" />
				</label>

				<label class="checkbox choice-group {{person.guest.smokes}}">
					<input type="checkbox" ng-model="person.guest.smokes"/>
					<span>I smoke.</span>
					<img src="./img/glyphicons_084_heat.png" height="25" width="29" style="margin-top: -2px" />
				</label>

				<label class="checkbox choice-group {{person.guest.needsTransportation}}">
					<input type="checkbox" ng-model="person.guest.needsTransportation"/>
					<span>I would like a host who can offer transportation around Corvallis.</span>
					<img src="./img/glyphicons_028_cars.png" height="25" width="36" style="margin-top: -2px" />
				</label>
			</div>

			<h4>What else should we know about your housing request?</h4>
			<p>Please mention if you want to be housed with a specific host,
				or if you want to be housed with a specific travel companion(s), or
				if you have other allergies.</p>
			<div class="row">
				<textarea rows="6" placeholder="" ng-model="person.guest.request" class="span8" style="margin-left: 1.5em"/>
			</div>
		</div>

		<div ng-show="person.shirt.want">
			<h4 style="clear: left">Which type of shirt would you like?
				<span class="frown{{frowns.style}} label label-important" style="padding-left: 0.7ex">:-(</span>
			</h4>
			<div class="question-section row">
				<div class="span2" style="width: 165px">
					<label class="shirtPreview">
						<img src="./img/shirt-man-swing.jpg"/>
						<div style="margin-top: 9px">Crew neck</div>
						<div>American Apparel</div>
						<div>Red highlights</div>
						<input type="radio" ng-model="person.shirt.style" value="swing.man" ng-click="removeFrown('style')"/>
					</label>
				</div>
				<div class="span2" style="width: 165px; margin-left: 0">
					<label class="shirtPreview">
						<img src="./img/shirt-man-blues.jpg"/>
						<div style="margin-top: 7px">Crew neck</div>
						<div>American Apparel</div>
						<div>Yellow highlights</div>
						<input type="radio" ng-model="person.shirt.style" value="blues.man" ng-click="removeFrown('style')"/>
					</label>
				</div>
				<div class="span2" style="margin-left: 3px">
					<label class="shirtPreview">		
						<img src="./img/shirt-lady-swing.jpg"/>					
						<div>Women's cut</div>
						<div>District Clothing</div>
						<div>Red highlights</div>
						<input type="radio" ng-model="person.shirt.style" value="swing.woman" ng-click="removeFrown('style')"/>					
					</label>
				</div>
				<div class="span2" style="margin-left: 0">
					<label class="shirtPreview">
						<img src="./img/shirt-lady-blues.jpg"/>	
						<div>Women's cut</div>		
						<div>District Clothing</div>
						<div>Yellow highlights</div>		
						<input type="radio" ng-model="person.shirt.style" value="blues.woman" ng-click="removeFrown('style')"/>
					</label>
				</div>
			</div>

			<div class="sizing {{person.shirt.style == 'swing.man' || person.shirt.style == 'blues.man'}}">
				<h4>Which size of shirt would you like?
				<span class="frown{{frowns.size}} label label-important" style="padding-left: 0.7ex">:-(</span>
				</h4>
				<table class="sizeTable">
					<tr>
						<th>&nbsp;</th>
						<th class="xxs col {{person.shirt.size == 'xxs'}}">XXS</th>
						<th class="xs col {{person.shirt.size == 'xs'}}">XS</th>
						<th class="s col {{person.shirt.size == 's'}}">S</th>
						<th class="m col {{person.shirt.size == 'm'}}">M</th>
						<th class="l col {{person.shirt.size == 'l'}}">L</th>
						<th class="xl col {{person.shirt.size == 'xl'}}">XL</th>
						<th class="xxl col {{person.shirt.size == 'xxl'}}">2XL</th>
		<!-- 				<th class="xxxl col {{person.shirt.size == 'xxxl'}}">3XL</th> -->
					</tr>
					<tr>
						<th>&nbsp;</th>
						<th class="col {{person.shirt.size == 'xxs'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="xxs" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 'xs'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="xs" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 's'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="s" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 'm'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="m" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 'l'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="l" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 'xl'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="xl" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 'xxl'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="xxl" ng-click="removeFrown('size')"/>
						</th>
		<!-- 				<th class="col {{person.shirt.size == 'xxxl'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="xxxl" ng-click="removeFrown('size')"/>
						</th> -->
					</tr>
					<tr class="guide">
						<td>Chest (inches)</td>
						<td class="xxs col {{person.shirt.size == 'xxs'}}">29-31</td>
						<td class="xs col {{person.shirt.size == 'xs'}}">30-32</td>
						<td class="s col {{person.shirt.size == 's'}}">34-36</td>
						<td class="m col {{person.shirt.size == 'm'}}">38-40</td>
						<td class="l col {{person.shirt.size == 'l'}}">42-44</td>
						<td class="x col {{person.shirt.size == 'xl'}}">46-48</td>
						<td class="xxl col {{person.shirt.size == 'xxl'}}">48-50</td>
		<!-- 				<td class="xxxl col {{person.shirt.size == 'xxxl'}}">50-52</td> -->
					</tr>
					<tr class="guide">
						<td>Waist (inches)</td>
						<td class="xxs col {{person.shirt.size == 'xxs'}}">27-29</td>
						<td class="xs col {{person.shirt.size == 'xs'}}">28-30</td>
						<td class="s col {{person.shirt.size == 's'}}">30-32</td>
						<td class="m col {{person.shirt.size == 'm'}}">32-33</td>
						<td class="l col {{person.shirt.size == 'l'}}">33-34</td>
						<td class="xl col {{person.shirt.size == 'xl'}}">36-38</td>
						<td class="xxl col {{person.shirt.size == 'xxl'}}">40-42</td>
		<!-- 				<td class="xxxl col {{person.shirt.size == 'xxxl'}}">44-48</td> -->
					</tr>
				</table>
			</div>

			<div class="sizing {{person.shirt.style == 'swing.woman' || person.shirt.style == 'blues.woman'}}">
				<h4>Which size of shirt would you like?
				<span class="frown{{frowns.size}} label label-important" style="padding-left: 0.7ex">:-(</span></h4>
				<table class="sizeTable">
					<tr>
						<th>&nbsp;</th>
						<th class="xs col {{person.shirt.size == 'xs'}}">XS</th>
						<th class="s col {{person.shirt.size == 's'}}">S</th>
						<th class="m col {{person.shirt.size == 'm'}}">M</th>
						<th class="l col {{person.shirt.size == 'l'}}">L</th>
						<th class="xl col {{person.shirt.size == 'xl'}}">XL</th>
						<th class="xxl col {{person.shirt.size == 'xxl'}}">2XL</th>
		<!-- 				<th class="xxxl col {{person.shirt.size == 'xxxl'}}">3XL</th>
						<th class="xxs col {{person.shirt.size == 'xxxxl'}}">4XL</th> -->
					</tr>
					<tr>
						<th>&nbsp;</th>
						<th class="col {{person.shirt.size == 'xs'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="xs" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 's'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="s" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 'm'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="m" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 'l'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="l" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 'xl'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="xl" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 'xxl'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="xxl" ng-click="removeFrown('size')"/>
						</th>
		<!-- 				<th class="col {{person.shirt.size == 'xxxl'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="xxxl" ng-click="removeFrown('size')"/>
						</th>
						<th class="col {{person.shirt.size == 'xxxxl'}}">
							<input type="radio" class="radio" ng-model="person.shirt.size" value="xxxxl" ng-click="removeFrown('size')"/>
						</th> -->
		 			</tr>

					<tr class="guide">
						<td>Size</td>
						<td class="xs col {{person.shirt.size == 'xs'}}">0/1</td>
						<td class="s col {{person.shirt.size == 's'}}">3/5</td>
						<td class="m col {{person.shirt.size == 'm'}}">7/9</td>
						<td class="l col {{person.shirt.size == 'l'}}">11/13</td>
						<td class="xl col {{person.shirt.size == 'xl'}}">15/17</td>
						<td class="xxl col {{person.shirt.size == 'xxl'}}">19/21</td>
		<!-- 				<td class="xxxl col {{person.shirt.size == 'xxxl'}}">21/23</td>
						<td class="xxxxl col {{person.shirt.size == 'xxxxl'}}">23/25</td> -->
					</tr>

					<tr class="guide">
						<td>Bust (inches)</td>
						<td class="xs col {{person.shirt.size == 'xs'}}">30-31</td>
						<td class="s col {{person.shirt.size == 's'}}">32-33</td>
						<td class="m col {{person.shirt.size == 'm'}}">34-35</td>
						<td class="l col {{person.shirt.size == 'l'}}">36-37</td>
						<td class="x col {{person.shirt.size == 'xl'}}">38-40</td>
						<td class="xxl col {{person.shirt.size == 'xxl'}}">41-43</td>
		<!-- 				<td class="xxxl col {{person.shirt.size == 'xxxl'}}">44-46</td>
						<td class="xxxxl col {{person.shirt.size == 'xxxxl'}}">47-49</td> -->				
					</tr>
				</table>
			</div>

		 	<label class="checkbox choice-group dance{{person.shirt.canHaz}} beforePayment" 
		 		ng-click="removeFrown('canHaz')">
				<input type="checkbox" ng-model="person.shirt.canHaz" id="dancer" />
				<span>I promise to pay $15 for this shirt.</span>
				<img src="./img/glyphicons_012_heart.png"
					height="22" width="24" /> 
				<span class="frown{{frowns.canHaz}} label label-important" style="padding-left: 0.7ex">:-(</span>
			</label>
		</div>

		<h4>How would you like to pay for the weekend? <span class="frown{{frowns.payment}} label label-important">:-(</span></h4>
		<div class="question-section" id="payment">
			<label class="radio">
				<input type="radio" ng-model="person.payment.method" value="paypal" 
				ng-click="removeFrown('payment')" />
				<span>Paypal (or credit card)</span>
			</label>

			<label class="radio">
				<input type="radio" ng-model="person.payment.method" value="check"
				ng-click="removeFrown('payment')"/>
				<span>Check</span>
			</label>

			<label class="radio">
				<input type="radio" ng-model="person.payment.method" value="cash"
				ng-click="removeFrown('payment')"/>
				<span>Cash</span>
			</label>

			<label class="radio">
				<input type="radio" ng-model="person.payment.method" value="transfer"
				ng-click="removeFrown('payment')"/>
				<span>Transfer from friend</span>
			</label>
		</div>

		<div class="question-section">
			<button id="rsvp" class="btn btn-inverse next submit{{isSubmitting}}" ng-click="submit()">R.S.V.P.</button>
		</div>
	</div>
	<div class="span3 visible-desktop">
		<img id="logo" src="./img/swing-logo-black.png"/>
		<img id="logoLead" class="{{person.dancer.role}}" src="./img/logo-yellow-lead.png"/>
		<img id="logoFollow" class="{{person.dancer.role}}" src="./img/logo-yellow-follow.png"/>
		<img id="logoBoth" class="{{person.dancer.role}}" src="./img/logo-yellow-ring.png"/>
	</div>
<!-- 	<pre style="clear: left">form = {{person | json}}</pre>	
 -->
</form>