<form novalidate class="css-form">
	<div class="span8">
		<div ng-show="person.housing.host">
			<h4>Thanks for possibly hosting.</h4>
			<p>How many guests can you maybe put up for the weekend?</p>
			<input type="text" placeholder="" ng-model="person.host.guestCount"/>

			<h4>And, what's your situation?</h4>
			<div class="question-section details-group">
				<label class="checkbox choice-group {{person.host.hasPets}}">
					<input type="checkbox" ng-model="person.host.hasPets"/>
					<span>I have a dog or a cat.</span>
					<img src="./img/glyphicons_002_dog.png" height="25" width="26"  style="margin-top: -4px" />
				</label>

				<label class="checkbox choice-group {{person.host.smokes}}">
					<input type="checkbox" ng-model="person.host.smokes"/>
					<span>I smoke.</span>
					<img src="./img/glyphicons_084_heat.png" height="25" width="29" style="margin-top: -2px" />
				</label>

				<label class="checkbox choice-group {{person.host.smokersAllowed}}">
					<input type="checkbox" ng-model="person.host.smokersAllowed"/>
					<span>Housing someone who smokes is cool with me.</span>
					<img src="./img/glyphicons_254_fishes.png" height="30" width="28" style="margin-top: -4px"/>
				</label>

				<label class="checkbox choice-group {{person.host.hasTransportation}}">
					<input type="checkbox" ng-model="person.host.hasTransportation"/>
					<span>I am able to offer transportation to my guests.</span>
					<img src="./img/glyphicons_028_cars.png" height="25" width="36" style="margin-top: -2px" />
				</label>
			</div>
		</div>


		<h4>How would you like to pay for the weekend? <span class="frown{{frowns.payment}} label label-important">:-(</span></h4>
		<div class="question-section" id="payment">
			<label class="radio">
				<input type="radio" ng-model="person.payment.method" value="paypal" 
				ng-click="removeFrown('payment')" />
				<span>Paypal (or credit card)</span>
			</label>

			<label class="radio">
				<input type="radio" ng-model="person.payment.method" value="check"
				ng-click="removeFrown('payment')"/>
				<span>Check</span>
			</label>

			<label class="radio">
				<input type="radio" ng-model="person.payment.method" value="cash"
				ng-click="removeFrown('payment')"/>
				<span>Cash</span>
			</label>

			<label class="radio">
				<input type="radio" ng-model="person.payment.method" value="transfer"
				ng-click="removeFrown('payment')"/>
				<span>Transfer from friend</span>
			</label>
		</div>

		<div class="question-section">
			<button id="rsvp" class="btn btn-inverse next submit{{isSubmitting}}" ng-click="submit()">R.S.V.P.</button>
		</div>
	</div>
	<div class="span3 visible-desktop">
		<img id="logo" src="./img/swing-logo-black.png"/>
		<img id="logoLead" class="{{person.dancer.role}}" src="./img/logo-yellow-lead.png"/>
		<img id="logoFollow" class="{{person.dancer.role}}" src="./img/logo-yellow-follow.png"/>
		<img id="logoBoth" class="{{person.dancer.role}}" src="./img/logo-yellow-ring.png"/>
	</div>
<!-- 	<pre style="clear: left">form = {{person | json}}</pre>	
 -->
</form>