		<h4>How would you like to pay?</h4>
		<div class="question-section" id="payment">
			<label class="radio">
				<input type="radio" ng-model="person.payment" value="paypal" />
				<span>Paypal</span>
			</label>

			<label class="radio">
				<input type="radio" ng-model="person.payment" value="check"/>
				<span>Check</span>
			</label>

			<label class="radio">
				<input type="radio" ng-model="person.payment" value="cash"/>
				<span>Cash</span>
			</label>
		</div>

		<h4>Please confirm a few things?</h4>
		<div class="question-section">
			<label class="checkbox choice-group dance{{person.dancer.canHaz}}">
				<input type="checkbox" ng-model="person.dancer.canHaz" id="dancer"/>
				<span>I enjoy dancing</span>
				<img src="./img/glyphicons_012_heart.png"
				height="22" width="24" />
			</label>
			<input id ="emailConfirm" type="text" ng-model="email.confirm" 
			placeholder="Confirm email address" required />		
		</div>

		<div class="question-section">
			<button class="btn btn-inverse" ng-click="submit()">Submit</button>
		</div>

		<pre style="clear: left">form = {{person | json}}</pre>
