		<div class="span8">			
			<h4>Who are you?</h4>
			<div class="question-section">
				<span class="frown{{frowns.name}} label label-important">:-(</span>
				<input id="name" type="text" placeholder="Full name" required 
				ng-model="person.name" ng-click="removeFrown('name')" />		
				<input id ="email" type="email" placeholder="Email address" required 
				ng-model="person.email" ng-click="removeFrown('email')" />
				<span class="frown{{frowns.email}} label label-important">:-(</span>
			</div>

			<h4>What&#39;s your social dancing role? 
				<span class="frown{{frowns.role}} label label-important">:-(</span>
			</h4>
			<div class="question-section" id="role">
				<label class="radio">
					<input type="radio" ng-model="person.dancer.role" value="lead" ng-click="removeFrown('role')"/>
					<span>Lead</span>
				</label>
				<label class="radio">
					<input type="radio" ng-model="person.dancer.role" value="follow" ng-click="removeFrown('role')"/>
					<span>Follow</span>
				</label>
				<label class="radio">
					<input type="radio" ng-model="person.dancer.role" value="both" ng-click="removeFrown('role')"/>
					<span>Both</span>
				</label>			
			</div>
		</div>

		
		<div class="span3 visible-desktop">
			<img id="logo" src="./img/swing-logo-black.png"/>
			<img id="logoLead" class="{{person.dancer.role}}" src="./img/logo-yellow-lead.png"/>
			<img id="logoFollow" class="{{person.dancer.role}}" src="./img/logo-yellow-follow.png"/>
			<img id="logoBoth" class="{{person.dancer.role}}" src="./img/logo-yellow-ring.png"/>
		</div>

		<div class="span12">
		<h4>Which of the following are true?</h4>		
		<div class="question-section">			
			<label class="checkbox choice-group hos{{person.housing.host}}">
				<input type="checkbox" ng-model="person.housing.host" id="host"/>			
				<span>I might be able to host people at my place, and I am cool.</span>
				<!-- TODO: Give credit to http://glyphicons.com/ -->
				<img src="./img/glyphicons_294_coffee_cup.png"
				height="19" width="25" />
			</label>

			<label class="checkbox choice-group stay{{person.housing.guest}}">
				<input type="checkbox" ng-model="person.housing.guest" id="guest"/>
				<span>I might need a place to stay, and I am cool.</span>
				<img src="./img/glyphicons_020_home.png" 
				height="26" width="27" />
			</label>

			<label class="checkbox choice-group shir{{person.shirt.want}}">
				<input type="checkbox" ng-model="person.shirt.want" id="shirt"/>			
				<span>I would like an event shirt, probably.</span>
				<img src="./img/glyphicons_283_t-shirt.png" 
				height="23" width="28" />
			</label>

			<label class="checkbox choice-group volun{{person.volunteer.want}}">
				<input type="checkbox" ng-model="person.volunteer.want" id="volunteer"/>
				<span>I would like to help make this event happen.</span>
				<img src="./img/glyphicons_332_certificate.png" 
				height="25" width="17"/>
			</label>
		</div>

		<div class="question-section">
			<button id="onward" class="btn btn-inverse" ng-click="onward()">Onward!</button>
		</div>
		
		<pre style="clear: left">form = {{person | json}}</pre>