<form novalidate class="css-form">
	<div class="span12">

		<h4 style="clear: left">How was the live music?</h4>
		<div class="row" style="border-bottom: solid #eee 1px">						
			<div class="span2 offset2">
				<label class="shirtPreview">
					<div>Wasn't there</div>
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">
					<div>Sad :-(</div>
				</label>
			</div>

			<div class="span1">
				<label class="shirtPreview">
					<div>Hmm :-\</div>
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">		
					<div>Fun :-)</div>
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<div>Awesome :-) :-)</div>		
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<div>My favorite &#x2665;</div>		
				</label>
			</div>
		</div>

		<div class="row survey-row">			
			<div class="span2">
				<div class="day">Friday swing</div>
				<div>Gumbo</div>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.gumbo" value="absent" />
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.gumbo" value="sad" />
				</label>
			</div>

			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.gumbo" value="lame" />
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">		
					<input type="radio" ng-model="survey.gumbo" value="fun" />					
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.gumbo" value="awesome" />
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.gumbo" value="favorite" />
				</label>
			</div>
		</div>

		<div class="row survey-row alt">			
			<div class="span2">
				<div class="day">Friday blues</div>
				<div>Rae Gordon</div>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.rae" value="absent" style="background: yellow"/>
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.rae" value="sad" />
				</label>
			</div>

			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.rae" value="lame" />
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">		
					<input type="radio" ng-model="survey.rae" value="fun" />					
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.rae" value="awesome" />
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.rae" value="favorite" />
				</label>
			</div>
		</div>

		<div class="row survey-row">			
			<div class="span2">
				<div class="day">Saturday swing</div>
				<div>Frim Fram</div>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.frimfram" value="absent"/>
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.frimfram" value="sad" />
				</label>
			</div>

			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.frimfram" value="lame" />
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">		
					<input type="radio" ng-model="survey.frimfram" value="fun" />					
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.frimfram" value="awesome" />
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.frimfram" value="favorite" />
				</label>
			</div>
		</div>


		<div class="row survey-row alt">			
			<div class="span2">
				<div class="day">Saturday blues</div>
				<div>Worth</div>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.worth" value="absent"/>
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.worth" value="sad" />
				</label>
			</div>

			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.worth" value="lame" />
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">		
					<input type="radio" ng-model="survey.worth" value="fun" />					
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.worth" value="awesome" />
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.worth" value="favorite" />
				</label>
			</div>
		</div>

		<div style="margin-top: 2em">
			<button id="rsvp" class="btn btn-inverse next submit{{isSubmitting}}" ng-click="submit()">Finish survey</button>
		</div>
	</div>


<!--  	
 	<pre>{{params | json}}</pre>
	<pre>{{person | json}}</pre>

 --> 
</form>