<form novalidate class="css-form">
	<div class="span12">

		<h4 class="survey-question">How was the live music?</h4>
		<div class="survey-question-block">
			<div class="row" style="border-bottom: solid #eee 1px">						
				<div class="span2 offset2">
					<label class="shirtPreview">
						<div>Wasn't there</div>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<div>Sad :-(</div>
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<div>Hmm :-\</div>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<div>Fun :-)</div>
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<div>Awesome :-) :-)</div>		
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<div>My favorite &#x2665;</div>		
					</label>
				</div>
			</div>

			<div class="row survey-row">			
				<div class="span2">
					<div class="day">Friday swing</div>
					<div>Gumbo</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.gumbo" value="absent" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.gumbo" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.gumbo" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.gumbo" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.gumbo" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.gumbo" value="favorite" />
					</label>
				</div>
			</div>

			<div class="row survey-row alt">			
				<div class="span2">
					<div class="day">Friday blues</div>
					<div>Rae Gordon</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.rae" value="absent" style="background: yellow"/>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.rae" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.rae" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.rae" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.rae" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.rae" value="favorite" />
					</label>
				</div>
			</div>

			<div class="row survey-row">			
				<div class="span2">
					<div class="day">Saturday swing</div>
					<div>Frim Fram</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.frimfram" value="absent"/>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.frimfram" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.frimfram" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.frimfram" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.frimfram" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.frimfram" value="favorite" />
					</label>
				</div>
			</div>


			<div class="row survey-row alt">			
				<div class="span2">
					<div class="day">Saturday blues</div>
					<div>Worth</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.worth" value="absent"/>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.worth" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.worth" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.worth" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.worth" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.worth" value="favorite" />
					</label>
				</div>
			</div>
		</div>

		<h4 class="survey-question">How was the mixture of swing and blues music?</h4>
		<div class="survey-question-block">
			<label class="checkbox">
				<input type="checkbox" ng-model="survey.event.moreSwing"/>			
				<span>I would have liked <strong>more swing</strong> music.</span>
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="survey.event.moreBlues"/>			
				<span>I would have liked <strong>more blues</strong> music.</span>
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="survey.event.lessSwing"/>			
				<span>I would have liked <em>less swing</em> music.</span>
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="survey.event.lessBlues"/>			
				<span>I would have liked <em>less blues</em> music.</span>
			</label>
		</div>


		<h4 class="survey-question">How were the DJs?</h4>
		<div class="survey-question-block">
			<div class="row" style="border-bottom: solid #eee 1px">						
				<div class="span2 offset2">
					<label class="shirtPreview">
						<div>Wasn't there</div>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<div>Sad :-(</div>
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<div>Hmm :-\</div>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<div>Fun :-)</div>
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<div>Awesome :-) :-)</div>		
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<div>My favorite &#x2665;</div>		
					</label>
				</div>
			</div>

			<div class="row survey-row">			
				<div class="span2">
					<div class="day">Friday late swing</div>
					<div>Phil, Richard</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.fridayLateSwing" value="absent" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.fridayLateSwing" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.fridayLateSwing" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.fridayLateSwing" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.fridayLateSwing" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.fridayLateSwing" value="favorite" />
					</label>
				</div>
			</div>

			<div class="row survey-row alt">			
				<div class="span2">
					<div class="day">Friday late blues</div>
					<div>Catherine</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.fridayLateBlues" value="absent" style="background: yellow"/>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.fridayLateBlues" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.fridayLateBlues" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.fridayLateBlues" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.fridayLateBlues" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.fridayLateBlues" value="favorite" />
					</label>
				</div>
			</div>

			<div class="row survey-row">			
				<div class="span2">
					<div class="day">Saturday eve swing</div>
					<div>Josh, Emily</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayEveSwing" value="absent"/>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayEveSwing" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayEveSwing" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.saturdayEveSwing" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayEveSwing" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayEveSwing" value="favorite" />
					</label>
				</div>
			</div>


			<div class="row survey-row alt">			
				<div class="span2">
					<div class="day">Saturday late blues</div>
					<div style="width: 120%">Gretchen, Christopher</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayLateBlues" value="absent"/>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayLateBlues" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayLateBlues" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.saturdayLateBlues" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayLateBlues" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayLateBlues" value="favorite" />
					</label>
				</div>
			</div>

			<div class="row survey-row">			
				<div class="span2">
					<div class="day">Saturday late swing</div>
					<div>Rian, Michelle, Phil</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayLateSwing" value="absent"/>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayLateSwing" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayLateSwing" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.saturdayLateSwing" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayLateSwing" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.saturdayLateSwing" value="favorite" />
					</label>
				</div>
			</div>

			<div class="row survey-row alt">			
				<div class="span2">
					<div class="day">Sunday afternoon</div>
					<div style="width: 120%">Martin, Renee, Richard</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.sundayAfternoon" value="absent"/>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.sundayAfternoon" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.sundayAfternoon" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.sundayAfternoon" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.sundayAfternoon" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.sundayAfternoon" value="favorite" />
					</label>
				</div>
			</div>

			<div class="row survey-row">			
				<div class="span2">
					<div class="day">Sunday evening</div>
					<div style="width: 120%">Phil, Kristin, Dustin, Rian, Martin, Renee</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.sundayEvening" value="absent"/>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.sundayEvening" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.sundayEvening" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.event.sundayEvening" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.sundayEvening" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.event.sundayEvening" value="favorite" />
					</label>
				</div>
			</div>

		</div>


		<h4 class="survey-question">Last words?</h4>	
		<textarea class="span7" rows="5" ng-model="survey.lastWords"></textarea>

		<div style="margin-top: 2em">
			<button class="rsvp btn btn-inverse next submit{{isSubmitting}}" ng-click="submit()">Finish survey</button>
		</div>
	</div>
	<!-- <pre style="clear: left">{{survey | json}}</pre> -->
</form>