<form novalidate class="css-form">
	<div class="span12">
		<p>Hello! Thank you for visiting the guest survey for our 4th-anniversary event.</p>

		<h4 class="survey-question">Did you attend our event on January 24, 25, or 26?</h4>		
		<div class="survey-question-block">
			<label class="radio">
				<input type="radio" ng-model="survey.attendance" value="present" />Yes, I did.
			</label>
			<label class="radio">
				<input type="radio" ng-model="survey.attendance" value="absent" />No, I did not.
			</label>
		</div>

		<div class="showIfPresent {{survey.attendance}}">
			<h4 class="survey-question">Which days?</h4>
			<div class="survey-question-block">
				<label class="checkbox">
					<input type="checkbox" ng-model="survey.present.friday"/>			
					<span>Friday</span>
				</label>
				<label class="checkbox">
					<input type="checkbox" ng-model="survey.present.saturday"/>			
					<span>Saturday</span>
				</label>
				<label class="checkbox">
					<input type="checkbox" ng-model="survey.present.sunday"/>			
					<span>Sunday</span>
				</label>
			</div>


			<h4 class="survey-question">Why did you decide to attend?</h4>
			<textarea class="span7" rows="2" ng-model="survey.whyAttended"></textarea>


			<h4 class="survey-question">How did it go for you?</h4>
			<ul><li>What was your favorite part of the weekend?</li>
				<li>What was missing? What would you change?</li>
				<li>If you went last year, how did it compare?</li>
			</ul>
			<textarea class="span7" rows="8" ng-model="survey.howDidItGo"></textarea>

			<h4 class="survey-question">Anything else we should know about?</h4>
			<ul><li>Would you like to specifically thank anyone?</li>
				<li>Any upcoming events you want to share?</li></ul>
			
			<textarea class="span7" rows="5" ng-model="survey.anythingElse"></textarea>

			<h4 class="more">Would you like to answer more questions?</h4>
			<ul>
				<li>For example, whether you'd like to attend next year.</li>
			</ul>
			<div class="question-section" style="margin-top: 1.5em">
				<button class="rsvp btn btn-inverse next" ng-click="onward('who')">Yes, of course</button>

				<button class="nothanks btn submit{{isSubmitting}}" style="margin-left: 1ex" ng-click="submit()">No, thank you</button>
			</div>
		</div>

		<div class="showIfAbsent {{survey.attendance}}">
			<h4 class="survey-question">What town do you live in?</h4>			
			<input type="text" ng-model="survey.absent.zip" placeholder="Zip code or something"/>

			<h4 class="survey-question">Did someone invite you?</h4>		
			<div class="survey-question-block">
				<label class="radio">
					<input type="radio" ng-model="survey.absent.invited" value="personally" />Yes, in person.
				</label>
				<label class="radio">
					<input type="radio" ng-model="survey.absent.invited" value="internet" />Yes, via email or Facebook message. 
				</label>
				<label class="radio">
					<input type="radio" ng-model="survey.absent.invited" value="somehow" />Yes, via something  like a telephone. 
				</label>
				<label class="radio">
					<input type="radio" ng-model="survey.absent.invited" value="facebookEvent" />Just via the Facebook event. 
				</label>
				<label class="radio">
					<input type="radio" ng-model="survey.absent.invited" value="nope" />Not really. 
				</label>				
			</div>

			<h4 class="survey-question">Any comments?</h4>
			<ul><li>About anything?</li></ul>
			<textarea class="span7" rows="4" ng-model="survey.absent.comments"></textarea>

			<h4 class="survey-question">Are any of these true?</h4>
			<div class="survey-question-block">
				<div class="row">										
					<label class="checkbox">
						<input type="checkbox" ng-model="survey.absent.expensive"/>			
						<span>This event was expensive.</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" ng-model="survey.absent.notSpecialEvent"/>			
						<span>This event didn't seem to be anything special.</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" ng-model="survey.absent.notIntoDancing"/>			
						<span>I'm not really into dancing at the moment.</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" ng-model="survey.absent.corvallisFarAway"/>			
						<span>Corvallis is far away.</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" ng-model="survey.absent.corvallisUnknown"/>			
						<span>I've never been to Corvallis.</span>
					</label>
					<label class="checkbox">
						<input type="checkbox" ng-model="survey.absent.corvallisLame"/>			
						<span>I don't like Corvallis.</span>
					</label>
				</div>
			</div>

			<h4 class="survey-question">Would you like a 'save the date' email from us if we do this again?</h4>
			<div class="survey-question-block">
				<div class="radio-plus-box">
					<label class="radio">
						<input type="radio" ng-model="survey.email.want" value='true' />
						<div>Yes, please email me at this address:</div>
					</label>
					<input class="box-inside-radio" type="email" ng-model="survey.email.address" ng-click="wantEmail()"/>
				</div>
				<label class="radio">
					<input type="radio" ng-model="survey.email.want" value='false' />No, thank you.
				</label>
			</div>


			<button class="rsvp btn btn-inverse submit{{isSubmitting}}" style="margin-left: 1ex; margin-top: 2em" ng-click="submit()">Finish survey</button>
		</div>

	</div>

	<!-- <pre style="clear: left">{{survey | json}}</pre> -->
</form>