<form novalidate class="css-form">
	<div class="span12">

		<h4 class="survey-question">How does doing this again, next year, sound?</h4>
		<div class="survey-question-block">
		<div class="row" style="margin-top: 1em">						
			<div class="span1" style="margin-left: -4px">
				<label class="survey-one-choice">
					<div>Sad :-(</div>
					<div><input type="radio" ng-model="survey.event.nextYear" value="sad" /></div>
				</label>
			</div>

			<div class="span1">
				<label class="survey-one-choice">
					<div>Hmm :-\</div>
					<div><input type="radio" ng-model="survey.event.nextYear" value="lame" /></div>
				</label>
			</div>
			<div class="span1">
				<label class="survey-one-choice">		
					<div>Fun :-)</div>
					<div><input type="radio" ng-model="survey.event.nextYear" value="fun" /></div>
				</label>
			</div>
			<div class="span2">
				<label class="survey-one-choice">
					<div>Awesome :-) :-)</div>
					<div><input type="radio" ng-model="survey.event.nextYear" value="awesome" /></div>						
				</label>
			</div>
			<div class="span2">
				<label class="survey-one-choice">
					<div>My favorite &#x2665;</div>		
					<div><input type="radio" ng-model="survey.event.nextYear" value="favorite" /></div>
				</label>
			</div>
		</div>
		</div>

		<hr/>

		<h4 class="survey-question">How long would you say you've been dancing?</h4>
		<div class="survey-question-block">
			<label class="radio">
				<input type="radio" ng-model="survey.dancer.timeUnit" value="years" />Years
			</label>
			<label class="radio">
				<input type="radio" ng-model="survey.dancer.timeUnit" value="months" />Months
			</label>
			<p>I've been social dancing for 
				<input type="text" class="yearsInput" ng-model="survey.dancer.allTime"/> {{survey.dancer.timeUnit}}, blues dancing for 
				<input type="text" class="yearsInput" ng-model="survey.dancer.bluesTime"/> {{survey.dancer.timeUnit}}, and swing dancing for 
				<input type="text" class="yearsInput" ng-model="survey.dancer.swingTime"/> {{survey.dancer.timeUnit}}.
			</p>
		</div>


		<h4 class="survey-question">How do you feel when you're dancing, at the moment?</h4>
		<div class="survey-question-block">
			<div class="row" style="border-bottom: solid #eee 1px; margin-top: 1em">						
				<div class="span2 offset1">
					<label class="shirtPreview">
						<div>What ??</div>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<div>Sad :-(</div>
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<div>Hmm :-\</div>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<div>Happy :-)</div>
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<div>Awesome :-) :-)</div>		
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<div>My favorite &#x2665;</div>		
					</label>
				</div>
			</div>

			<div class="row survey-row">			
				<div class="span1">
					<div class="row-label">swing</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.swing" value="what" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.swing" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.swing" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.dancer.swing" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.swing" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.swing" value="favorite" />
					</label>
				</div>
			</div>

			<div class="row survey-row alt">			
				<div class="span1">
					<div class="row-label">blues</div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.blues" value="what"/>
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.blues" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.blues" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.dancer.blues" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.blues" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.blues" value="favorite" />
					</label>
				</div>
			</div>

			<div class="row survey-row">			
				<div class="span1">
					<div class="row-label">
						<input type="text" style="width: 120%; margin-top: -2px; margin-left: -4px" ng-model="survey.dancer.otherLabel" placeholder="write-in"/></div>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.other" value="what" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.other" value="sad" />
					</label>
				</div>

				<div class="span1">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.other" value="lame" />
					</label>
				</div>
				<div class="span1">
					<label class="shirtPreview">		
						<input type="radio" ng-model="survey.dancer.other" value="fun" />					
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.other" value="awesome" />
					</label>
				</div>
				<div class="span2">
					<label class="shirtPreview">
						<input type="radio" ng-model="survey.dancer.other" value="favorite" />
					</label>
				</div>
			</div>
		</div>

		<h4 class="survey-question">Would you like a 'save the date' email from us if we do this again?</h4>
		<div class="survey-question-block">
			<div class="radio-plus-box">
				<label class="radio">
					<input type="radio" ng-model="survey.email.want" value='true' />
					<div>Yes, please email me at this address:</div>
				</label>
				<input class="box-inside-radio" type="email" ng-model="survey.email.address" ng-click="wantEmail()"/>
			</div>
			<label class="radio">
				<input type="radio" ng-model="survey.email.want" value='false' />No, thank you.
			</label>
		</div>

		<h4 class="more">Would you like to answer one more set of questions?</h4>
		<p class="survey-question-block">For example, your opinion about the bands and music.</p>

		<div class="question-section" style="margin-top: 1.5em">
			<button class="rsvp btn btn-inverse next" ng-click="onward('music')">Yes, one more</button>

			<button class="nothanks btn submit{{isSubmitting}}" style="margin-left: 1ex" ng-click="submit()">No, thank you</button>
		</div>
	</div>

<!-- 	<pre style="clear: left">{{survey | json}}</pre> -->
</form>