<form novalidate class="css-form">
	<div class="span12">
		<p>Hello! Thank you for joining us at our 3rd-anniversary event. How did the weekend go for you?</p>

		<h4 style="clear: left">How was the live music?</h4>
		<div class="row" style="border-bottom: solid #eee 1px">						
			<div class="span2 offset2">
				<label class="shirtPreview">
					<div>Wasn't there</div>
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">
					<div>Sad :-(</div>
				</label>
			</div>

			<div class="span1">
				<label class="shirtPreview">
					<div>Hmm :-\</div>
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">		
					<div>Fun :-)</div>
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<div>Awesome :-) :-)</div>		
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<div>My favorite &#x2665;</div>		
				</label>
			</div>
		</div>

		<div class="row survey-row">			
			<div class="span2">
				<div class="day">Friday swing</div>
				<div>Gumbo</div>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.gumbo" value="absent" />
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.gumbo" value="sad" />
				</label>
			</div>

			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.gumbo" value="lame" />
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">		
					<input type="radio" ng-model="survey.gumbo" value="fun" />					
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.gumbo" value="awesome" />
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.gumbo" value="favorite" />
				</label>
			</div>
		</div>

		<div class="row survey-row alt">			
			<div class="span2">
				<div class="day">Friday blues</div>
				<div>Rae Gordon</div>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.rae" value="absent" style="background: yellow"/>
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.rae" value="sad" />
				</label>
			</div>

			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.rae" value="lame" />
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">		
					<input type="radio" ng-model="survey.rae" value="fun" />					
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.rae" value="awesome" />
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.rae" value="favorite" />
				</label>
			</div>
		</div>

		<div class="row survey-row">			
			<div class="span2">
				<div class="day">Saturday swing</div>
				<div>Frim Fram</div>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.frimfram" value="absent"/>
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.frimfram" value="sad" />
				</label>
			</div>

			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.frimfram" value="lame" />
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">		
					<input type="radio" ng-model="survey.frimfram" value="fun" />					
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.frimfram" value="awesome" />
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.frimfram" value="favorite" />
				</label>
			</div>
		</div>


		<div class="row survey-row alt">			
			<div class="span2">
				<div class="day">Saturday blues</div>
				<div>Worth</div>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.worth" value="absent"/>
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.worth" value="sad" />
				</label>
			</div>

			<div class="span1">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.worth" value="lame" />
				</label>
			</div>
			<div class="span1">
				<label class="shirtPreview">		
					<input type="radio" ng-model="survey.worth" value="fun" />					
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.worth" value="awesome" />
				</label>
			</div>
			<div class="span2">
				<label class="shirtPreview">
					<input type="radio" ng-model="survey.worth" value="favorite" />
				</label>
			</div>
		</div>


		<h4 style="clear: left; margin-top: 2em">How did the event go for you?</h4>
		<ul><li>What was your favorite part of the weekend?</li>
			<li>What was missing? What would you change?</li>
		</ul>
		<textarea class="span7" rows="8"></textarea>

		<h4 style="margin-top: 2em">Anything else we should know about?</h4>
		<ul><li>Would you like to specifically thank anyone?</li>
			<li>Any upcoming events you want to share?</li></ul>
		
		<textarea class="span7" rows="5"></textarea>

		<div class="question-section" style="margin-top: 1.5em">
			<button id="rsvp" class="btn btn-inverse next submit{{isSubmitting}}" ng-click="submit()">All done!</button>
		</div>
	</div>



<!--  	
 	<pre>{{params | json}}</pre>
	<pre>{{person | json}}</pre>

 --> 
</form>