extends app

block append stylesheets
    link(rel='stylesheet', href='/css/admin.css')

block content
    .content
        .container
            h2 Administrative things!
            nav.navbar.navbar-default.row(role="navigation")
                .container-fluid
                    ul.nav.navbar-nav
                        li
                            a(href="/admin") (Home)
                        li
                            a(href="/admin/rsvps") Reservations
                        li
                            a(href="/admin/payment") Payments
                        li
                            a(href="/admin/volunteers") Volunteers
                        li
                            a(href="/admin/food") Food
                        li
                            a(href="/admin/shirts") Shirts
                        li
                            a(href="/admin/housing") Housing
                        li
                            a(href="/admin/travel") Travel
                        li
                            a(href="/admin/declines") Declines
                        li
                            a(href="/admin/welcome") Welcome
                        li
                            a(href="/admin/survey") Survey


                    ul.nav.navbar-nav.navbar-right#nav-right
                        li 
                            a(href="/admin/access") Access
                        li 
                            a(href="/admin/settings") Settings

            nav.navbar.navbar-default.row(role="navigation")
                .container-fluid
                    ul.nav.navbar-nav
                        li
                            a(href="/admin/survey/results") Survey Results

            block display
