extends admin

block append controllers
    script(src="/js/controllers/adminAccess.js")
    script.
        app.value('settings', !{JSON.stringify(settings)});

block display    
    div(ng-controller="AdminAccess")
        h3 Access
        p Enter one Google account (email address) per line.
        textarea.form-control(rows="12"
            ng-model="accessListText")

        .row
            .col-xs-6.col-md-3
                button.btn.btn-default.form-control.margin-top.margin-bottom(
                    type="button"
                    ng-click="saveAccessList()") Save

