extends layout

block append scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js")
    script(src="/js/main.js")
block controllers