extends rsvp

block append controllers
    script(src="/js/controllers/chooseAdventure.js")

block form
    div(ng-controller="ChooseAdventureCtrl")
        h3 Choose your adventure.
        pre #{JSON.stringify(rsvp)}

        if (!person.isResident)
            p Not a resident

        if (person.isResident) 
            p Resident

        button.btn.btn-primary(ng-click="next()") Next
