extends rsvp

block append controllers
    script(src="/js/controllers/chooseAdventure.js")

block append content
    .content(ng-controller="ChooseAdventureCtrl")
        .container
            .col-sm-offset-3.col-sm-6.rsvp-content.clearfix
                h3 Choose your adventure.
                pre #{JSON.stringify(rsvp)}

                if (!person.isResident)
                    p Not a resident

                if (person.isResident) 
                    p Resident
