extends guests

block form
    h3 Details
    p For the detailed individual.

    h4 Friday evening
    ul
        <li>OSU Women's Building</li>
        <li><a href="http://goo.gl/maps/EQvlY">160 SW 26th St</a></li>
        <li>Swing at 8:30 p.m.</li>
        <li>Cherry &amp; the Lowboys around 10</li>
        <li>Floor: Fast</li>
        <li>Expected Temp: Moderate</li>
        <li>DJs, blues: <ul><li>Jeff Anderson</li></ul></li>
        <li>DJs, swing: <ul><li>Phil Manijak</li></ul></li>
        li Food: No
        <li>Cover: $12</li>

    h4 Friday late
    ul
        <li>Majestic Theatre</li>
        <li><a href="http://goo.gl/maps/OZEIT">115 SW 2nd St</a>
        <li>Swing &amp; blues at midnight (two rooms)</li>
        <li>Breakers Yard around 1 a.m.</li>
        <li>Floor: Slower</li>
        <li>Expected Temp: Hot</li>
        li DJs, blues:
            ul
                <li>Casual set during 'food time' at midnight</li>
                <li>Catherine Liggett at 1 a.m.</li>
                <li>Wispra Smith at 2 a.m.</li>
        li DJs, swing:
            ul
                li Nick Davis at midnight
        li Food: Yes
        li Cover: $15

    h4 Saturday evening
    ul
        <li>Odd Fellows Hall</li>
        <li><a href="http://goo.gl/maps/y21Y3">223 SW 2nd St</a></li>
        <li>Lesson at 7 p.m. by Nika Jin and Mateo Palfreman</li>
        <li>Gumbo around 8</li>
        <li>Kevin Selfe &amp; the Tornadoes around 10</li>
        <li>Swing room opens at 10</li>
        <li>Floor: Good</li>
        <li>Expected Temp: Warmer</li>
        li DJs, blues:
            ul
                li Catherine Liggett
        li DJs, swing:
            ul
                li Rachael Ries at 9:30
                li Richard Basi &amp; Rachael at 10:30
        li Food: No
        li Cover: $15

    h4 Saturday late
    ul
        <li>Majestic Theatre</li>
        <li><a href="http://goo.gl/maps/OZEIT">115 SW 2nd St</a>
        <li>Swing &amp; blues at midnight (two rooms)</li>
        <li>Floor: Slower</li>
        <li>Expected Temp: Hot</li>
        li DJs, blues: 
            ul
                <li>Casual set during 'food time' at midnight</li>
                <li>Dustin Henwood at 1 a.m.</li>
                <li>Christopher Moorefield at 2 a.m.</li>
        li DJs, swing:
            ul
                <li>Casual set during 'food time' at midnight</li>
                <li>Richard Basi at 1 a.m.</li>
                <li>Phil Manijak &amp; Rian Pfund at 2 a.m.</li>
        li Food: Yes
        <li>Cover: $12</li>

    h4 Sunday afternoon
    ul
        li Sunnyside Up Café
        li <a href="https://www.google.com/maps/place/Sunnyside+Up">116 NW 3rd St</a>
        li Swing &amp; a Ms from 2 until 4 p.m.
        li Floor: Smooth concrete
        li Expected Temp: Moderate
        li Cover: None

    h4 Sunday evening
    ul
        li Majestic Theatre
        li <a href="http://goo.gl/maps/OZEIT">115 SW 2nd St</a>
        li Swing &amp; blues on the main stage at 8 p.m.
        li Floor: Slower
        li Expected Temp: Moderate
        li DJs, alphabetically:
            ul
                li Catherine Liggett
                li Jeff Anderson
                li Martin Norred
                li Phil Manijak
                li Renee Norred
                li Rian Pfund
                li Zach Wallace
        li Food: Some
        li Cover: $10

    <p style="margin-top: 1.4em">And that's it!</p>
