extends app

block append meta
    meta(name="description" content="Guest information for Corvallis Swing and Blues Weekend")

block append stylesheets
    link(href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/guests.css')

block append controllers
    script(src="/js/jQueryThings.js")

block append content
    .content
        .container
            .curtain.col-xs-12
                .col-sm-offset-2.col-md-offset-3.col-sm-8.col-md-6.rsvp-content.clearfix.visible-xs-12
                    .relative-block
                        h2 <a href="/">Swing <span>&amp;</span> Blues Weekend</a>
                        block form
                            p Soon this page will have information for weekend guests.