extends guests

block form
    h3 Welcome.
    <p class="question-section">Please use this quick reference as you wish.</p>

    h4 Friday evening
    <div>Dance is 8:30 p.m. &ndash; midnight.</div>
    <div>Map: <a href="https://maps.google.com/maps?q=160+SW+26th+St,+Corvallis&hl=en&sll=44.565821,-123.284575&sspn=0.011542,0.028732&t=v&hnear=160+SW+26th+St,+Corvallis,+Oregon+97331&z=16">OSU Women's Building</a></div>

    h4 Friday late night
    <div>Dance is midnight &ndash; 3 a.m.</div>
    <div>Map: <a href="https://maps.google.com/maps?q=115+SW+2nd+St,+Corvallis,+OR&hnear=115+SW+2nd+St,+Corvallis,+Benton,+Oregon+97333&gl=us&t=m&z=16">Majestic Theatre</a></div>
    <small>Side entrance, upstairs.</small>

    <hr/>

    h4 Saturday afternoon
    <div style="margin-top: 1em">Yoga is noon &ndash; 1 p.m.</div>
    <div>Map: <a href="https://maps.google.com/maps?q=223+SW+2nd+St,+Corvallis,+OR&hl=en&sll=44.562602,-123.260602&sspn=0.006666,0.0103&oq=223+SW+2nd+st,+corvallis&hnear=223+SW+2nd+St,+Corvallis,+Oregon+97333&t=m&z=17">Odd Fellows Hall</a></div>
    <small>In the north hall</small>

    <div style="margin-top: 1em">Community open house is 1:30 &ndash; 3:30 p.m.</div>
    <div>Rain-or-shine hike is 1:30 &ndash; 3:30 p.m.</div>
    <small>(see your welcome packet for details)</small>

    h4 Saturday evening
    <div>Dance is 8 p.m. &ndash; midnight</div>     
    <div>Map: <a href="https://maps.google.com/maps?q=223+SW+2nd+St,+Corvallis,+OR&hl=en&sll=44.562602,-123.260602&sspn=0.006666,0.0103&oq=223+SW+2nd+st,+corvallis&hnear=223+SW+2nd+St,+Corvallis,+Oregon+97333&t=m&z=17">Odd Fellows Hall</a></div>
    <small>Drop-in swing lesson at 7 p.m.</small>

    h4 Saturday late night
    <div>Dance is midnight &ndash; 3 a.m.</div>
    <div>Map: <a href="https://maps.google.com/maps?q=115+SW+2nd+St,+Corvallis,+OR&hnear=115+SW+2nd+St,+Corvallis,+Benton,+Oregon+97333&gl=us&t=m&z=16">Majestic Theatre</a></div>
    <small>Side entrance, upstairs.</small>

    <hr/>

    h4 Sunday afternoon
    <div style="margin-top: 1em">Music and hangout is 2 &ndash; 4 p.m.</div>
    <div>Map: <a href="https://www.google.com/maps/place/Sunnyside+Up">Sunnyside Up Cafe</a></div>

    h4 Sunday evening
    <div>Dance is 8 p.m. &ndash; midnight</div>
    <div>Map: <a href="https://maps.google.com/maps?q=115+SW+2nd+St,+Corvallis,+OR&hnear=115+SW+2nd+St,+Corvallis,+Benton,+Oregon+97333&gl=us&t=m&z=16">Majestic Theatre</a></div>
    <small>On the main stage.</small>