extends guests

block append stylesheets
    link(rel='stylesheet', href='/css/volunteer-roles.css')

block form

    h3 Volunteer roles

    h4 <a id="ambience" class="anchor">Ambience</a>
    h5.role Climate, lighting

    h5 Women’s Building 
    p The climate and lighting people are responsible for making sure that the room is as 
     | comfortable a temperature as possible for dancing. For the Women’s Building the room 
     | temperature can be controlled by opening or closing the windows. Also there are two 
     | large standing fans that can be used to cool the room down as well. As for lighting 
     | there should be 3 to 4 standing lamps as well as rope lights around the room. If one 
     | of the lights is not working let your shift contact know. 


    h5 Odd Fellows 
    p The climate and lighting people are responsible for making sure that the room is as 
     | comfortable a temperature as possible for dancing. For Odd Fellows the room temperature 
     | can be controlled by opening or closing the windows. There should be at least one large 
     | standing fan that can be used to cool the room down as well as the over head fans that are 
     | controlled by the fan remote. The lights are controlled by dials on the wall and should be 
     | dimmed appropriately, for either swing or blues. 


    h5 Majestic 
    p The climate and lighting people are responsible for making sure that the room is as 
     | comfortable a temperature as possible for dancing. The Majestic has a thermostat that 
     | should be checked on periodically to make sure it is set as low as possible. There will 
     | also be fans provided that should be used to control the temperature. Lighting is controlled 
     | by the sliders on the walls, and should be fine once set. 


    h4 <a id="crew" class="anchor">Crew</a>

    h5.role Move stuff out
    p This job means you will be helping move all of the stuff (chairs, tables, stairs, etc.) 
     | out of the Women’s Building room before the Friday evening dance, and then setting up 
     | benches, lamps, and lights. 

    h5.role Move stuff back
    p This job means that you will be helping pack up lights, lamps, and other decor in the 
     | Women’s Building room after the Friday evening dance, and moving all of the stuff (chairs, 
     | tables, stairs, etc.) back into place. We also need to sweep the floor and check for 
     | lost-and-found items. 

    h5.role Break down 

    h5 Odd Fellows 
    p Break down crew for Saturday will help pack up all decor, lighting, and fans; and move 
     | chairs, tables, and the stage back into their original places. Also check for 
     | lost-and-found items.

    h5 Majestic
    p Majestic break down crew members help pack up all lamps, fans, lights, and decor. We also 
     | need to move tables and chairs back, and sweep everything. 

    h5.role Setup

    h5 Odd Fellows
    p Setup crew for Saturday evening will move the stage, chairs, and tables into place, 
     | and help setup decor. 

    h5 Majestic
    p Late night setup crew helps put all tables, chairs, lights, lamps, and fans into place, 
     | and sets up decor. 


    h4 <a id="front" class="anchor">Front desk</a>

    h5.role General
    p This job means you will be taking money, making sure each new guest signs the waiver, 
     | and possibly handing out packets, shirts, and wristbands to anybody who registers for 
     | the entire weekend. 

    h5.role Waiver signing 
    p The job means that you make sure that each person who comes to the weekend signs the waiver 
     | before going on the rest of the signing in process. This includes making sure that the 
     | clip boards have pens and waivers on them as well as putting all the signed waivers in 
     | a designated place. After each person has signed the waiver, make sure that they have 
     | filled out the waiver entirely and correctly. 


    h5.role Accept $$ 
    p This job requires you to check off if the guest has registered for the weekend and whether 
     | or not they have paid, and if they haven’t, to accept money from them. This could either be 
     | guests paying for the whole weekend or for people paying à la carte. This person is also in 
     | charge of tallying attendees in logbook. There will be a separate area to tally people who 
     | gave money for that event and people that have already paid for the weekend but still need 
     | to be counted as a “body towards our fire code limit.”  Registered attendees that have paid 
     | and sent off to the next person to receive their packets must be highlighted to indicate that 
     | they did indeed come to our event.

    h5.role Packet check-off 
    p This person will be handing out the packets after the guest has signed the waiver and paid. 
     | They may also be required to hand out shirts to those who have ordered (and paid for) one. 


    h5.role Wristbands 
    p This person's job is to put a wrist band on the guest after they have signed the waiver, 
     | and paid.  Ideally, lead wristbands go on left wrists, and follow wristbands go on 
     | right wrists...unless the attendee has an issue with that, of course.


    h4 <a id="sound" class="anchor">Sound</a>

    h5.role Setup 
    p You’ll be helping move in the sound equipment, putting the speakers on their stands, 
     | and getting things ready for a basic sound check. If the band could use some assistance, 
     | please help them.

    h5.role Break down 
    p Help take the sound equipment down, take care in coiling cords properly, and put it into a 
     | car. Your sound coordinator will know what’s up.


    h4 <a id="water" class="anchor">Water</a>
    p This job involves keeping tabs on the water cooler, and refilling it throughout the night 
     | when needed. Also make sure there are cups, and sharpie, and no puddles.


    h4 <a id="food" class="anchor">Food</a>

    h5.role Setup
    p For this job you will be helping the food coordinator(s) move and set up the food buffet, 
     | putting out plates and utensils, and making sure everything is properly labeled. 

    h5.role Break down
    p For this job you will be helping the food coordinator(s) clean up the food buffet, and 
     | save leftovers with their appropriate labels. 
