extends layout

block meta
    meta(name="description" content="Corvallis Swing and Blues Weekend. Jan 23-25, 2015. Three nights of swing and blues dancing and live music in the heart of the Willamette Valley.")

block stylesheets
    link(href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/index.css')


block content
    .content
        .container
            .curtain.row
                .things.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                    h1 Swing &amp; Blues Weekend
                    h2 January 23, 24, and 25 in Corvallis,&nbsp;Oregon
                    .things-content-wrapper
                        .things-content
                            .row
                                .col-xs-6.col-sm-3.menu-item
                                    a(href="/rsvp") R.S.V.P.
                                .col-xs-6.col-sm-3.menu-item
                                    a(href="/schedule") Schedule
                                .col-xs-6.col-sm-3.menu-item
                                    a(href="/contact") Contact
                                .col-xs-6.col-sm-3.menu-item
                                    a(href="/guests") Guests

                            .tagline
                                p Three days. 19 hours of dancing. Join our 5th anniversary celebration at Oregon's largest swing and 
                                 | blues dance festival. 

                            .col-xs-6.circle.blues
                                .band Cherry &amp; the Lowboys
                            .col-xs-6.circle.swing
                                .band Breakers Yard

                            .col-xs-6.circle.swing
                                .band Gumbo
                            .col-xs-6.circle.blues
                                .band Kevin Selfe &amp; the Tornadoes

                            .col-xs-6.circle.swing
                                .band Swing &amp; a Ms.
                            .col-xs-6.circle.blues
                                .band Late nights 'til&nbsp;3!

                            .logo
                                img(src="/img/weekend-dancers-300.png" width="300" title="Dance and celebrate!")
                    
                    p Hosted by the <a href="http://corvallisswing.com">Corvallis Swing Dance Society</a> and OSU Blues communities. ♥

block append bottom-scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script.
        $(function () {
            var element = $('.things');
            if (element.height() < window.innerHeight) {
                element.css('min-height', window.innerHeight + 'px');
            }
        });