extends layout

block meta
    meta(name="description" content="Corvallis Swing and Blues Weekend. Jan 23-25, 2015. Three nights of swing and blues dancing and live music in the heart of the Willamette Valley.")

block stylesheets
    link(href='//fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css')
    link(href='//fonts.googleapis.com/css?family=Bowlby+One' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/index.css')


block content
    .content
        .container
            .curtain.row
                .things.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                    h1 Swing &amp; Blues Weekend
                    h2 Friday, Saturday, and Sunday in Corvallis,&nbsp;Oregon
                    .things-content-wrapper
                        .things-content
                            .row
                                .col-xs-4.col-sm-3.col-sm-offset-3.menu-item
                                    a(href="/schedule") Schedule
                                .col-xs-4.col-sm-3.menu-item
                                    a(href="/contact") Contact
                                .col-xs-4.col-sm-3.menu-item
                                    a(href="/guests") Guests

                            .tagline
                                p Welcome to Saturday! 

                                p Doors open tonight at 6:45 p.m. at Odd Fellows Hall, 223 SW 2nd St.

                            .clearfix
                                .feature
                                    a(href="https://www.google.com/maps/place/223+SW+2nd+St,+Corvallis,+OR+97333")
                                        img(src="/img/event/saturday-evening-map.png") 
                                    .name.clearfix Lesson for everyone at 7 p.m. $15. <a href="https://www.google.com/maps/place/223+SW+2nd+St,+Corvallis,+OR+97333">Map</a>.

                            .clearfix
                                .feature
                                    img(src="/img/gumbo.jpg")
                                    .name.clearfix Swing band Gumbo at 8&nbsp;p.m.


                            .clearfix
                                .feature
                                    img(src="/img/kevinSelfe.jpg")
                                    .name.clearfix Blues band Kevin Selfe &amp; the Tornadoes at 10 p.m.

                            .clearfix
                                .feature
                                    a(href="https://www.google.com/maps/dir/223+SW+2nd+St,+Corvallis,+OR/115+SW+2nd+St,+Corvallis,+OR/@44.5631596,-123.2622866,17z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c040ebb4db278d:0x5ff0020310186b6e!2m2!1d-123.260602!2d44.562602!1m5!1m1!1s0x54c040eb98be257b:0x4f64a9afc0b664e7!2m2!1d-123.259662!2d44.563616!3e2?hl=en")
                                        img(src="/img/event/saturday-late-map.png") 
                                    .name.clearfix  Move to Majestic Theatre at midnight. $12. <a href="https://www.google.com/maps/dir/223+SW+2nd+St,+Corvallis,+OR/115+SW+2nd+St,+Corvallis,+OR/@44.5631596,-123.2622866,17z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x54c040ebb4db278d:0x5ff0020310186b6e!2m2!1d-123.260602!2d44.562602!1m5!1m1!1s0x54c040eb98be257b:0x4f64a9afc0b664e7!2m2!1d-123.259662!2d44.563616!3e2?hl=en">Map</a>.

                            .clearfix
                                .feature
                                    img(src="/img/majesticBlues.jpg")
                                    .name.clearfix Swing and blues rooms until&nbsp;3 a.m.

                            .row
                                .col-xs-6.circle.blues
                                    .band Cherry &amp; the Lowboys
                                .col-xs-6.circle.swing
                                    .band Breakers Yard

                            .row
                                .col-xs-6.circle.swing
                                    .band Gumbo
                                .col-xs-6.circle.blues
                                    .band Kevin Selfe &amp; the Tornadoes

                            .row
                                .col-xs-6.circle.swing
                                    .band Swing &amp; a&nbsp;Ms.
                                .col-xs-6.circle.blues
                                    .band Late nights 'til&nbsp;3!

                            .logo
                                img(src="/img/weekend-dancers-300.png" width="300" title="Dance and celebrate!")
                    
                    p.tagline Hosted by the <a href="http://corvallisswing.com">Corvallis Swing Dance Society</a> and OSU Blues communities. ♥

block append bottom-scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script.
        $(function () {
            var element = $('.things');
            if (element.height() < window.innerHeight) {
                element.css('min-height', window.innerHeight + 'px');
            }
        });