extends layout

block meta
    meta(name="description" content="Corvallis Swing and Blues Weekend. Jan 23-25, 2015. Three nights of swing and blues dancing and live music in the heart of the Willamette Valley.")

block stylesheets
    link(href='//fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css')
    link(href='//fonts.googleapis.com/css?family=Bowlby+One' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/index.css')


block content
    .content
        .container
            .curtain.row
                .things.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                    h1 Swing &amp; Blues Weekend
                    h2 January 23, 24, and 25 in Corvallis,&nbsp;Oregon
                    .things-content-wrapper
                        .things-content
                            .row
                                .col-xs-4.col-sm-3.col-sm-offset-3.menu-item
                                    a(href="/schedule") Schedule
                                .col-xs-4.col-sm-3.menu-item
                                    a(href="/contact") Contact
                                .col-xs-4.col-sm-3.menu-item
                                    a(href="/guests") Guests

                            .tagline
                                p Three days. 19 hours of dancing. Join our 5th anniversary celebration at Oregon's largest swing and 
                                 | blues dance festival. 

                                p Doors open Friday at 8 p.m. at the <a href="http://goo.gl/P5TXzi">OSU Women's Building</a>, Rm 116.

                            .row
                                .col-xs-6.circle.blues
                                    .band Cherry &amp; the Lowboys
                                .col-xs-6.circle.swing
                                    .band Breakers Yard

                            .row
                                .col-xs-6.circle.swing
                                    .band Gumbo
                                .col-xs-6.circle.blues
                                    .band Kevin Selfe &amp; the Tornadoes

                            .row
                                .col-xs-6.circle.swing
                                    .band Swing &amp; a&nbsp;Ms.
                                .col-xs-6.circle.blues
                                    .band Late nights 'til&nbsp;3!

                            .logo
                                img(src="/img/weekend-dancers-300.png" width="300" title="Dance and celebrate!")
                    
                    p.tagline Hosted by the <a href="http://corvallisswing.com">Corvallis Swing Dance Society</a> and OSU Blues communities. ♥

block append bottom-scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script.
        $(function () {
            var element = $('.things');
            if (element.height() < window.innerHeight) {
                element.css('min-height', window.innerHeight + 'px');
            }
        });