extends layout

block meta
    meta(name="description" content="Corvallis Swing and Blues Weekend. Jan 23-25, 2015. Three nights of swing and blues dancing and live music in the heart of the Willamette Valley.")

block stylesheets
    link(href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/index.css')


block content
    .content
        .container
            .curtain.row
                .things.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                    h1 Swing &amp; Blues Weekend
                    .things-content-wrapper
                        .things-content
                            .row
                                .col-xs-4.menu-item
                                    a(href="/rsvp") R.S.V.P.
                                .col-xs-4.menu-item
                                    a(href="/schedule") Schedule
                                .col-xs-4.menu-item
                                    a(href="/contact") Contact

                            .logo
                                img(src="/img/weekend-dancers-300.png" width="300" title="Dance and celebrate!")

                    h2 January 23-25th. Corvallis,&nbsp;Oregon.

                    p Come celebrate our 5th anniversary at Oregon's finest swing and 
                     | blues dance festival. 

                    p Join us for three nights of live music, fun, and dancing until 
                     | 3&nbsp;a.m., featuring performances by Oregon musicians Swing &amp; a Ms.,
                     | Cherry &amp; the Lowboys, Gumbo, Kevin Selfe &amp; 
                     | the Tornadoes, and Breakers Yard. 

                    p Hosted by the Corvallis Swing Dance Society and OSU Blues communities. ♥

block append bottom-scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script.
        $(function () {
            var element = $('.things');
            if (element.height() < window.innerHeight) {
                element.css('min-height', window.innerHeight + 'px');
            }
        });