extends layout

block meta
    meta(name="description" content="Corvallis Swing and Blues Weekend. Jan 23-25, 2015. Three nights of swing and blues dancing and live music in the heart of the Willamette Valley.")

block stylesheets
    link(href='//fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css')
    link(href='//fonts.googleapis.com/css?family=Bowlby+One' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/index.css')


block content
    .content
        .container
            .curtain.row
                .things.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                    h1 Swing &amp; Blues Weekend
                    h2 Friday, Saturday, and Sunday in Corvallis,&nbsp;Oregon
                    .things-content-wrapper
                        .things-content
                            .row
                                .col-xs-4.col-sm-3.col-sm-offset-3.menu-item
                                    a(href="/schedule") Schedule
                                .col-xs-4.col-sm-3.menu-item
                                    a(href="/contact") Contact
                                .col-xs-4.col-sm-3.menu-item
                                    a(href="/guests") Guests

                            .tagline
                                p Welcome! 
                                p Doors open tonight at 8 p.m. at the <a href="http://goo.gl/P5TXzi">OSU Women's Building</a>, Rm 116.

                            .clearfix
                                .feature
                                    a(href="https://www.google.com/maps/dir/44.5682524,-123.2789741/44.5657644,-123.2805485/@44.5670858,-123.2807309,17z")
                                        img(src="/img/event/friday-evening-map.png") 
                                    .name.clearfix Swing dance at 8:30 p.m. $12.

                            .clearfix
                                .feature
                                    img(src="/img/cherryAndTheLowboys.jpg")
                                    .name.clearfix Blues band Cherry &amp; the Lowboys at 10&nbsp;p.m.


                            .clearfix
                                .feature
                                    a(href="https://www.google.com/maps/dir/44.5682524,-123.2789741/Majestic+Theatre,+Southwest+2nd+Street,+Corvallis,+OR/@44.5664139,-123.2781286,15z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x54c040eba1faa5bd:0x25ee15b3bbb96c98!2m2!1d-123.259829!2d44.563593")
                                        img(src="/img/event/friday-late-map.png") 
                                    .name.clearfix Move to Majestic Theatre at midnight. $15.


                            .clearfix
                                .feature
                                    img(src="/img/breakersYard.jpg")
                                    .name.clearfix Swing band Breakers Yard at 1&nbsp;a.m.

                            .clearfix
                                .feature
                                    img(src="/img/majesticBlues.jpg")
                                    .name.clearfix Blues room across the hall. Dancing until&nbsp;3 a.m.


                            .row
                                .col-xs-6.circle.blues
                                    .band Cherry &amp; the Lowboys
                                .col-xs-6.circle.swing
                                    .band Breakers Yard

                            .row
                                .col-xs-6.circle.swing
                                    .band Gumbo
                                .col-xs-6.circle.blues
                                    .band Kevin Selfe &amp; the Tornadoes

                            .row
                                .col-xs-6.circle.swing
                                    .band Swing &amp; a&nbsp;Ms.
                                .col-xs-6.circle.blues
                                    .band Late nights 'til&nbsp;3!

                            .logo
                                img(src="/img/weekend-dancers-300.png" width="300" title="Dance and celebrate!")
                    
                    p.tagline Hosted by the <a href="http://corvallisswing.com">Corvallis Swing Dance Society</a> and OSU Blues communities. ♥

block append bottom-scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script.
        $(function () {
            var element = $('.things');
            if (element.height() < window.innerHeight) {
                element.css('min-height', window.innerHeight + 'px');
            }
        });