extends layout

block meta
    meta(name="description" content="Corvallis Swing and Blues Weekend. Jan 23-25, 2015. Three nights of swing and blues dancing and live music in the heart of the Willamette Valley.")

block stylesheets
    link(href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/index.css')

block append controllers
    script.
        $(function () {
            var element = $('.things');
            if (element.height() < window.innerHeight) {
                element.css('min-height', window.innerHeight + 'px');
            }
        });

block content
    .content
        .container
            .curtain.row
                .things.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                    h1 Swing &amp; Blues Weekend
                    .things-content-wrapper
                        .things-content
                            .row
                                .col-xs-8
                                    p The 5th anniversary
                                     | of the Corvallis Swing Dance&nbsp;Society.

                                    p A weekend of live music and social dancing. Cover&nbsp;is&nbsp;$50.

                            ul
                                <a href="/rsvp"><li>Reserve a weekend pass</li></a>
                                <a href="/contact"><li>Contact us</li></a>
                            
                    h2 January 23-25th. Corvallis, Oregon. ♥


        


