doctype html
html(ng-app="project")
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(href='//fonts.googleapis.com/css?family=Halant' rel='stylesheet' type='text/css')

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js")
    script(src="/js/main.js")
    block controllers

  body
    block content