extends layout

block append stylesheets
    link(rel='stylesheet', href='/css/rsvp.css')

block append controllers
    script(src="/js/jQueryThings.js")
    script(src="/js/services/rsvpFlow.js")
    //- Session data
    script.
        app.value("rsvp", !{JSON.stringify(rsvp)});
