extends layout

block append stylesheets
    link(rel='stylesheet', href='/css/rsvp.css')

block append controllers
    script(src="/js/jQueryThings.js")
    script(src="/js/services/rsvpFlow.js")
    //- Session data
    script.
        app.value("rsvp", !{JSON.stringify(rsvp)});

block append content
    .content
        .container
            .col-sm-offset-3.col-sm-6.rsvp-content.clearfix
                block form