extends rsvp

block append controllers
    script(src="/js/controllers/travel.js")

block form
    div(ng-controller="TravelCtrl")
        h3 Where are you coming from?
        .row
            .col-xs-10.col-md-6
                input.form-control(type="text" 
                    placeholder="Zip code or something" 
                    ng-model="travel.zip")

        h3 Want a ride?
        label.checkbox.choice-group
            input(type="checkbox" ng-model="travel.train")
            div I might need to be picked up from the Albany train station.
                img(src="/img/rsvp/glyphicons_014_train.png")

        label.checkbox.choice-group
            input(type="checkbox" ng-model="travel.carpool")
            div I would like to carpool, somehow, but understand it might not happen.
                img(src="/img/rsvp/glyphicons_028_cars.png")

        if (rsvp.housing)
            h3 What should your host know about you?
            .details-group
                label.checkbox.choice-group
                    input(type="checkbox" ng-model="housing.hasPetAllergy")
                    div I'm allergic to dogs or cats.
                        img(src="/img/rsvp/glyphicons_002_dog.png")

                label.checkbox.choice-group
                    input(type="checkbox" ng-model="housing.smokes")
                    div I smoke.
                        img(src="/img/rsvp/glyphicons_084_heat.png")

                label.checkbox.choice-group
                    input(type="checkbox" ng-model="housing.needsTransportation")
                    div I would like a host who can offer transportation around Corvallis.
                        img(src="/img/rsvp/glyphicons_005_car.png")

            h3 What else should your host know?
            ul
                li Want a specific host?
                li Have a travel companion?
                li Have other allergies?
            //- p Please mention if you want to be housed with a specific host,
            //-  | or if you want to be housed with a specific travel companion(s), or
            //-  | if you have other allergies.

            textarea.form-control(rows="6" placeholder="" ng-model="housing.request")

        .row
            .text-center.col-xs-12
                button.btn.btn-default.form-control.next(
                    type="button" ng-click="next()") Next page, please