extends rsvp

block form    
        h3 Welcome

        p The weekend is happening right now, so reservations can no longer be made. 

        p Over 100 people have weekend passes to Oregon's largest swing and blues dance
         | festival. 

        p This event is open to the public, and a limited number of weekend passes will 
         | be available at the door. Dances can also be attended on an individual basis. Our
         | <a href="/schedule">schedule</a> has information on the happenings and lists 
         | the cover prices at the door.

        p See you on the dance floor!

        p <a href="/">Event home</a>