extends layout

block controllers
    script(src="/js/controllers/RsvpCtrl.js")


block content
    .content(ng-controller="RsvpCtrl")
        
        h2 Welcome!

        p You are invited to three nights of swing and blues dancing in 
         | the heart of the Willamette Valley. 
        
        p Soon.