extends layout

block append stylesheets
    link(href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/rsvp.css')

block append controllers
    script(src="/js/jQueryThings.js")
    script(src="/js/lib/store/store.min.js")
    script(src="/js/controllers/rsvpCtrl.js")
    script(src="/js/services/session.js")
    script(src="/js/services/rsvpFlow.js")
    //- Session data
    script.
        app.value("rsvp", !{JSON.stringify(rsvp)});

    script.
        $(function () {
            var element = $('.rsvp-content');
            if (element.height() < window.innerHeight) { 
                element.height(window.innerHeight);
            }
        });

block append content
    .content
        .container
            .curtain.col-xs-12
                .col-sm-offset-2.col-md-offset-3.col-sm-8.col-md-6.rsvp-content.clearfix.visible-xs-12
                    .relative-block
                        h2 Swing <span>&amp;</span> Blues Weekend
                        block form