extends rsvp

block append controllers
    script(src="/js/controllers/thanks.js")

block form
    div(ng-controller="ThanksCtrl")
        #logo-container
            #logo-content
                img#logo(src="/img/rsvp/logo-white.png")
                img#logoLead(ng-show="isRole('lead')" src="/img/rsvp/logo-lead-black.png")
                img#logoFollow(ng-show="isRole('follow')" src="/img/rsvp/logo-follow-black.png")
                img#logoBoth(ng-show="isRole('both')" src="/img/rsvp/logo-ring-black.png")

        h3 Thank you!

        p We've received your reservation for Corvallis Swing &amp; Blues Weekend, 
         | January 23-25, 2015. 

        p For your records, the details of your reservation have been sent 
         | to #{rsvp.person.email}.</p>
        