extends layout

block meta
    meta(name="description" content="The schedule for Corvallis Swing and Blues Weekend. Jan 23-25, 2015.")

block append stylesheets
    link(href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/schedule.css')

block content
    .content
        .container
            .curtain.row
                .things.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                    h1 <a href="/">Swing &amp; Blues Weekend</a>
                    .things-content-wrapper
                        .things-content
                            .row
                                .col-xs-12
                                    p We'll be celebrating the weekend of January 23-25th, 2015.

                                    p There will be six events across three days, with five
                                     | musical performances, over 15 DJs, and community activities
                                     | in between.

                                    p A weekend pass is $50, which includes access to all events, and can be
                                     | <a href="/rsvp">reserved here</a> before January 23. 

                                    p Dances can be attended on an individual basis, with cover at 
                                     | the door listed below; the cover at the door for all events 
                                     | comes to $64. Tickets are not guaranteed to be available at the 
                                     | door, but chances will be good if you arrive when the doors open. 

                                    h3 Friday evening

                                    .clearfix
                                        .band
                                            img(src="/img/welcome.jpg")
                                            .name.clearfix Welcome

                                    h4 OSU Women's Building
                                    ul
                                        li Swing dance begins at 8:30 p.m. (Doors at 8. No lesson.)
                                        li Blues band Cherry &amp; the Lowboys from 10 until midnight
                                        li Address: 160 SW 26th St, Corvallis | <a href="http://goo.gl/maps/EQvlY">Map</a>
                                        li $12 at the door

                                    .clearfix
                                        .band
                                            img(src="/img/cherryAndTheLowboys.jpg")
                                            .name.clearfix Cherry &amp; the Lowboys

                                    h3 Friday late

                                    .clearfix
                                        .band
                                            img(src="/img/breakersYard.jpg")
                                            .name.clearfix Breakers Yard

                                    h4 Majestic Theatre
                                    ul
                                        li Doors open at midnight
                                        li Swing band Breakers Yard at 1 a.m.
                                        li Blues room continues until 3
                                        li Address: 115 SW 2nd St, Corvallis | <a href="http://goo.gl/maps/OZEIT">Map</a>
                                        li Directions: <a href="http://goo.gl/maps/7YfnX">http://goo.gl/maps/7YfnX</a>
                                        li $15 at the door

                                    p Our late venue has three rooms: one for swing,
                                     | one for blues, and one for food. 


                                    h3 Saturday
                                    p Community activities for weekend guests during the day.
                                    .clearfix
                                        .band
                                            img(src="/img/gumbo.jpg")
                                            .name.clearfix Gumbo

                                    h4 Odd Fellows Hall
                                    ul
                                        li Doors open at 6:45 p.m. with a lesson at 7
                                        li Swing band Gumbo at 8
                                        li Blues band Kevin Selfe &amp; the Tornadoes at 10
                                        li Address: 223 SW 2nd St, Corvallis | <a href="http://goo.gl/maps/y21Y3">Map</a>
                                        li $15 at the door

                                    p A second room with swing music will open when Kevin Selfe takes the stage
                                     | in the main hall.

                                    .clearfix
                                        .band
                                            img(src="/img/kevinSelfe.jpg")
                                            .name.clearfix Kevin Selfe &amp; the Tornadoes

                                    h3 Saturday late

                                    .clearfix
                                        .band
                                            img(src="/img/majesticBlues.jpg")
                                            .name.clearfix Blues and swing rooms

                                    h4 Majestic Theatre
                                    ul
                                        li Doors open at midnight
                                        li Swing room and blues room until 3
                                        li Address: 115 SW 2nd St, Corvallis | <a href="http://goo.gl/maps/OZEIT">Map</a>
                                        li Directions: <a href="http://goo.gl/maps/CeBAh">Walk north, 433 feet</a>
                                        li $12 at the door

                                    h3 Sunday afternoon
                                    .clearfix
                                        .band
                                            img(src="/img/swingAndMs.jpg")
                                            .name.clearfix Swing &amp; a Ms.

                                    //- h4 (location)
                                    ul
                                        li Free, afternoon dance in a casual, relaxed atmosphere. 
                                        li Swing band Swing &amp; a Ms from 2 until 4 p.m.

                                    h3 Sunday evening
                                    .clearfix
                                        .band
                                            img(src="/img/majesticStage.jpg")
                                            .name.clearfix Finale

                                    h4 Majestic main stage
                                    ul
                                        li Swing and blues fusion DJed dance from 8 until midnight
                                        li Address: 115 SW 2nd St, Corvallis | <a href="http://goo.gl/maps/OZEIT">Map</a>
                                        li $10 at the door



                        

block append bottom-scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script.
        $(function () {
            var element = $('.things');
            if (element.height() < window.innerHeight) {
                element.css('min-height', window.innerHeight + 'px');
            }
        });