extends layout

block meta
    meta(name="description" content="The schedule for Corvallis Swing and Blues Weekend. Jan 23-25, 2015.")

block append stylesheets
    link(href='//fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css')
    link(href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/schedule.css')

block content
    .content
        .container
            .curtain.row
                .things.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                    h1 <a href="/">Swing &amp; Blues Weekend</a>
                    h2 January 23, 24, and 25 in Corvallis,&nbsp;Oregon
                    .things-content-wrapper
                        .things-content
                            .row
                                .col-xs-12
                                    p Swing &amp; Blues Weekend is six dances across three days. There will be
                                     | five musical performances, over 14 DJs, and community activities
                                     | in between.

                                    p Tickets are not guaranteed to be available at the 
                                     | door, but chances will be good if you arrive before 9 p.m. 

                                    h3 Friday evening

                                    .clearfix
                                        .band
                                            img(src="/img/welcome.jpg")
                                            .name.clearfix Welcome

                                    h4 OSU Women's Building, Rm 116
                                    ul
                                        li 8 p.m. doors open. No lesson
                                        li 8:30 p.m. dance begins with swing music, DJ Phil Manijak
                                        li 10 p.m. blues band Cherry &amp; the Lowboys
                                        li Midnight: dance ends. Event moves to late-night venues
                                        li Address: <a href="http://goo.gl/P5TXzi">160 SW 26th St</a>, Corvallis | <a href="http://goo.gl/maps/EQvlY">Overview Map</a>
                                        li $12 at the door

                                    .clearfix
                                        .band
                                            img(src="/img/cherryAndTheLowboys.jpg")
                                            .name.clearfix Cherry &amp; the Lowboys

                                    h3 Friday late night

                                    .clearfix
                                        .band
                                            img(src="/img/breakersYard.jpg")
                                            .name.clearfix Breakers Yard

                                    h4 Majestic Theatre
                                    ul
                                        li Midnight: Doors open. Food room and swing DJ Nick Davis begin.
                                        li 1 a.m. swing band Breakers Yard
                                        li 1 a.m. blues DJs begin (in blues room)
                                            ul 
                                                li Catherine Liggett &amp; Wispra Smith
                                        li 3 a.m. dance ends
                                        li Address: 115 SW 2nd St, Corvallis | <a href="http://goo.gl/maps/OZEIT">Map</a>
                                        li Directions: <a href="http://goo.gl/maps/7YfnX">http://goo.gl/maps/7YfnX</a>
                                        li $15 at the door

                                    p Our late venue has three rooms: one for swing,
                                     | one for blues, and one for food. 


                                    h3 Saturday
                                    p Community activities for weekend guests during the day, beginning at 1:30&nbsp;p.m. 
                                     | See your welcome packet for details.
                                    .clearfix
                                        .band
                                            img(src="/img/gumbo.jpg")
                                            .name.clearfix Gumbo

                                    h4 Odd Fellows Hall
                                    ul
                                        li 6:45 p.m. doors open.
                                        li 7 p.m. introductory swing lesson
                                        li 8 p.m. swing band Gumbo
                                        li 10 p.m. blues band Kevin Selfe &amp; the Tornadoes
                                        li 10 p.m. swing DJs begin in north hall
                                            ul
                                                li Rachael Ries &amp; Richard Basi
                                        li Midnight: dance ends. Event moves to late-night venues.
                                        li Address: 223 SW 2nd St, Corvallis | <a href="http://goo.gl/maps/y21Y3">Map</a>
                                        li $15 at the door

                                    p A second room with swing music will open when Kevin Selfe takes the stage
                                     | in the main hall.

                                    .clearfix
                                        .band
                                            img(src="/img/kevinSelfe.jpg")
                                            .name.clearfix Kevin Selfe &amp; the Tornadoes

                                    h3 Saturday late night

                                    .clearfix
                                        .band
                                            img(src="/img/majesticBlues.jpg")
                                            .name.clearfix Blues and swing rooms

                                    h4 Majestic Theatre
                                    ul
                                        li Midnight: Doors open. Food room and casual music
                                        li 1 a.m. swing DJs begin 
                                            ul
                                                li Richard B., Phil M., and Rian Pfund
                                        li 1 a.m. blues DJs begin
                                            ul
                                                li Dustin Henwood &amp; Christopher Moorefield
                                        li 3 a.m. dance ends
                                        li Address: 115 SW 2nd St, Corvallis | <a href="http://goo.gl/maps/OZEIT">Map</a>
                                        li Directions: <a href="http://goo.gl/maps/CeBAh">Walk north, 433 feet</a>
                                        li $12 at the door

                                    h3 Sunday afternoon
                                    .clearfix
                                        .band
                                            img(src="/img/swingAndMs.jpg")
                                            .name.clearfix Swing &amp; a Ms.

                                    h4 Sunnyside Up Café
                                    ul
                                        li Free, afternoon dance in a casual, relaxed atmosphere. 
                                        li 2 p.m. swing band Swing &amp; a Ms.
                                        li 4 p.m. doors close
                                        li Address: 116 NW 3rd St, Corvallis | <a href="https://www.google.com/maps/place/Sunnyside+Up">Map</a>

                                    h3 Sunday evening
                                    .clearfix
                                        .band
                                            img(src="/img/majesticStage.jpg")
                                            .name.clearfix Finale

                                    h4 Majestic main stage
                                    ul
                                        li 8 p.m. dance begins. Swing and blues fusion DJs.
                                        li Midnight: dance ends
                                        li Address: 115 SW 2nd St, Corvallis | <a href="http://goo.gl/maps/OZEIT">Map</a>
                                        li $10 at the door



                        

block append bottom-scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script.
        $(function () {
            var element = $('.things');
            if (element.height() < window.innerHeight) {
                element.css('min-height', window.innerHeight + 'px');
            }
        });