.container {
    background-color: white;
}

.setting {
    border-top: 1px solid silver;
    padding-bottom: 1ex;
    padding-top: 1ex;
}

.input-aligned {
    padding-top: 0.8ex;
}

#nav-right {
    padding-right: 1em;
}
#nav-right li {
    border-left: solid 1px silver;
}

.navbar {
    background-color: white;
}

.margin-top {
    margin-top: 1ex;
}
.margin-bottom {
    margin-bottom: 1ex;
}

.rsvp-row {
    background-color: white;
    padding: 1ex;
}
.rsvp-row:nth-child(odd) {
    background-color: #eee;   
}

.payment-panel {
    background-color: white;
    padding: 1ex;
}
.payment-panel:nth-child(odd) .payment-content {
    background-color: #eee;
}

.new {
    background-color: pink; 
}
.payment-panel:nth-child(odd) .new {
    background-color: #EEA9B8;
}
.new .btn.active {
  background-color: #cc8796;
}

.new .btn, .received .btn, .not-worried .btn {
    border-color: #999;
}

.reminded {
    background-color: #A4D3EE;
}
.payment-panel:nth-child(odd) .reminded {
    background-color: #93c2dd;  
}
.reminded .btn.active {
    color: #111;
    background-color: #71a0bb;
}

.not-worried {
    background-color: #303;
    color: #ddd;
}
.payment-panel:nth-child(odd) .not-worried {
    background-color: #404;
    color: #ddd;
}
.not-worried .btn {
    color: #bbb;
}
.not-worried .btn.active {
    background-color: #202;
    color: #ddd;
}

.received {
    background-color: olive;
    color: #ddd;
}
.payment-panel:nth-child(odd) .received {
    background-color: #770;
    color: #ddd;
}
.received .btn.active {
    background-color: #550;
    color: #ddd;
}

.deposited .btn.active {
    background-color: #ddd;
    color: #111;
}

.error .status {
    color: red;
}

.payment-content h3 {
    font-size: 14pt;
    margin-top: 0;
}
.payment-content {
    border: solid 1px #eee;
    padding: 1ex;
}
.payment-content .left {
    padding-right: 0.5ex;
}
.payment-content .right {
    padding-left: 0.5ex;
}
.payment-content .btn {
    background-color: inherit;
    margin-top: 1ex;
}
.payment-content .btn.active {
    
}
.payment-content .already-paid {
    margin-top: 2.95em;
}

.icon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    opacity: 0.3;
    margin-left: 1ex;
}
