body {
    background-color: white;
    color: #333;
}

h2 {
    text-align: center;
}

form {
    padding-bottom: 1em;
}

.timeslot {
    padding: 1ex;
    padding-left: 2ex;
}

.odd {
    background-color: #eee;
}

.menu-item {
    margin-top: 1.2em;
    text-align: center;
}