h1, h2, div {
  color: #eee;
}
a, a:hover {
    color: black;
}
h1, h2 {
    font-family: Halant, 'Times New Roman', Times, serif;
    font-weight: normal;
}

h1 {
    font-family: 'Oxygen';
    padding-bottom: 0.7ex;

    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    position: relative;
    text-align: right;
}

h2 {
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

div {
    font-size: 14pt;
}

.things-content-wrapper {
    background-image: url('../img/weekend-dancer-240.png');
    background-position: top right;
    background-repeat: no-repeat;

    margin-top: 1ex;
    text-align: left;
}
.things-content {
    font-family: Helvetica, Verdana, sans-serif;
    padding-top: 0.5ex;
    min-height: 13em;
}

p {
    font-size: 12pt;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    opacity: 0.5;
    background-color: white;
    color: black;
    padding: 1ex;
    margin-top: 1ex;
}
li:hover {
    opacity: 0.6;
}

body {
    
}
.content {
    background-color: #080808;
}
/*.container {
    background-color: yellow;
}*/
.curtain {
    background-color: #330C0C;
    background-image: radial-gradient(#ccc 1%, transparent 2%),
    radial-gradient(#ccc 1%, transparent 2%);
    background-size:81px 81px;
    background-position: 12px 12px, 50px 50px;
}
.things {
    background-color: #651717;
}

