h1, h2, div {
  color: #eee;
}
a {
    color: #F27676;
}
a:hover {
    color: #FF7C7C;
}
h1, h2 {
    font-weight: normal;
}

h1 {
    font-family: 'chalk-hand-lettering-shadedRg';
    font-size: 36pt;

    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    position: relative;
    text-align: right;
}

h2 {
    text-align: right;
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
    
    font-size: 14pt;
    padding-top: 0;
    margin-top: 0.25em;
}

div {
    font-size: 14pt;
}

.tagline {
    margin-top: 1.2em;
}

.band {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Bowlby One', sans-serif;
    
    text-transform: uppercase;
    font-size: 16pt;
    color: #ccc;
}
.circle {
    border-radius: 50%;
    display: table;
    height: 125px;

    background-repeat: no-repeat;
    background-size: 124px 124px;
    background-position: 50% 50%;
}
.swing {
    background-image: -webkit-radial-gradient(#080808 50%, transparent 51%);
    background-image: radial-gradient(#080808 50%, transparent 51%);
}
.blues .band {

}
.blues {
    background-image: -webkit-radial-gradient(#440D0D 50%, transparent 51%);
    background-image: radial-gradient(#440D0D 50%, transparent 51%);
}

.things {
    padding-bottom: 3em;
}

.things-content-wrapper {
    margin-top: 1ex;
    text-align: left;
}
.things-content {
    font-family: Helvetica, Verdana, sans-serif;
    padding-top: 0.5ex;
    min-height: 13em;
}

.things-content .logo {
    margin: auto;
    text-align: center;
    margin-top: 1em;
}

.menu-item {
    font-family: "Titillium Web", sans-serif;
    margin-top: 0.75em;
    text-align: center;
}

p {
    font-size: 12pt;
    font-family: "Titillium Web", sans-serif;
    text-align: right;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    opacity: 0.5;
    background-color: white;
    color: black;
    padding: 1ex;
    margin-top: 1ex;
}
li:hover {
    opacity: 0.6;
}

body {
    
}
.content {
    background-color: #080808;
}
/*.container {
    background-color: yellow;
}*/
.curtain {
    background-color: #330C0C;
    background-image: radial-gradient(#ccc 1%, transparent 2%),
    radial-gradient(#ccc 1%, transparent 2%);
    background-size:81px 81px;
    background-position: 12px 12px, 50px 50px;
}
.things {
    background-color: #651717;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
    .band {
        font-size: 18px;
    }
}

