
/* Logo */
#logo-container {    
    /*border: solid 1px blue;*/
    margin-top: 1.7em;
    padding-left: 50%;
    margin-left: -85px;
}

#logo-content {
    /*border: solid 1px red;*/
    position: relative;
    width: 150px;
}

#logo, #logoLead, #logoFollow, #logoBoth {
    height: 150px;
    width: 150px;
    top: 0;
    left: 0;
    display: inline-block;
}
#logoLead, #logoFollow, #logoBoth {
    position: absolute;
    top: 2px;
    left: 1px;
    opacity: 0.8;
}



/* Colors */
body {
    background-color: #7C0000;
    color: #e0e0e0;

    background-color: #363636;
    color: #800000;
}

.rsvp-content {
    background-color: #8b8b8b;
    color: #940000;
}
input[type="text"], input[type="email"], .btn {
    color: #e4e4e4;
    background-color: #222;
    border-color: #888;
}
input:focus {
    border-color: #aaa !important;
}

.btn:hover {
    border-color: #111;
    background-color: #333;
    color: white;
}
.btn.active {
    color: #333;
    /*background-color: #940000;*/
    background-color: #ddd;
    border-color: #222;
}

p {
    color: #111;
}

::-webkit-input-placeholder {
   color: #999 !important;
}
::-moz-placeholder {
    color: red !important;
}
:-moz-placeholder {
    color: red !important;
}
:-ms-input-placeholder {
    color: red !important;
}


.popover, .popover-title {
    background-color: #333;
    color: #eee;
}
.popover-title {
    background-color: #222;
    border-bottom-color: #777;
}
.popover.top .arrow:after {
    border-top-color: #333;
}
.popover.bottom .arrow:after {
    border-bottom-color: #222;
}


/* Text / Fonts */
body {
    font-size: 16px;
}

h3, label {
    font-weight: normal;
}

.label-danger {
    font-size: 8pt;
}

.popover, .popover-title {
    font-size: 10pt;
}
/* Hack for disabling the Safari-zoom when
 * inputting things on iPhone
 * http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
 */
.form-control, .btn {
    font-size: 16px;
}
input[type='text'],input[type='email'] {
    font-size: 1em;
}


/* Alignments / Layout */
h2 {
    margin-top: 0;
    padding-top: 1.1em;
    padding-bottom: 0.3em;
}

h3 {
    margin-top: 1.6em;
    margin-bottom: 0.25ex;
}


.form-control, .form-control-sb, .frown {
    /*margin-top: 1ex;*/
    margin-bottom: 1ex;
}

.input-aligned, .frown {
    padding-top: 0.25ex;
}

.text-center {
    text-align: center;
}
.text-aligned {
    margin-left: 1ex;
    margin-top: -0.4ex;
}

.frown {
    padding-left: 0;
    margin-left: 0;
}

.btn-role, .btn-option {
    padding-left: 0;
    padding-right: 1ex;
    /*padding-right: 1.75em;*/
}
.btn-role .btn, .btn-option .btn {
    width: 100%;
}

.next {
    /* Make room for the popup */
    margin-bottom: 6em;
}


/* 
 * Fixups:
 * No Bootstrap border stuff, please
 */
 input[type='text'],input[type='email'] {
    outline: none;
}
input {    
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.btn:focus {
    outline: none !important;
}