body {
    background-color: #555;
    color: #eee;
    font-size: 16px;
}

h3 {
    margin-bottom: 0.25ex;
}
h3, label {
    font-weight: normal;
}


/* Hack for disabling the Safari-zoom when
 * inputting things on iPhone
 * http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
 */
.form-control, .btn {
    font-size: 16px;
}
input[type='text'],input[type='email'] {
    font-size: 1em;
    outline: none;
    border-color: #444;
}

/*
 * No Bootstrap border stuff, please
 */
input:focus {
    border-color: black !important;
}
input {    
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.btn:focus {
    outline: none !important;
}

.form-control, .form-control-sb, .frown {
    /*margin-top: 1ex;*/
    margin-bottom: 1ex;
}

.input-aligned, .frown {
    padding-top: 0.25ex;
}
.text-aligned {
    margin-left: 1ex;
    margin-top: -0.4ex;
}
.text-aligned .label {
}

.frown {
    padding-left: 0;
    margin-left: 0;
}
.label-danger {
    font-size: 8pt;
}

.btn-role {
    padding-left: 0;
    padding-right: 1ex;
    /*padding-right: 1.75em;*/
}
.btn-role .btn {
    width: 100%;
}

.popover, .popover-title {
    background-color: #333;
    color: #eee;
    font-size: 10pt;
}
.popover-title {
    background-color: #222;
    border-bottom-color: #777;
}


.popover.top .arrow:after {
    border-top-color: #333;
}
.popover.bottom .arrow:after {
    border-bottom-color: #222;
}

.next {
    margin-top: 4em;
    /* Make room for the popup */
    margin-bottom: 6em;
}