.things-content {
    margin-top: 1.4em;
    margin-bottom: 2em;   
}

.content {

}

h1, h3 {
    font-family: 'Oxygen';
    padding-bottom: 0.7ex;

    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    position: relative;
}
h1 {
    font-family: 'chalk-hand-lettering-shadedRg';
    font-size: 36pt;
    text-align: right;
}
h3, textarea, input {
    margin-bottom: 1ex;
}

div, p {
    font-size: 12pt;
}
.message {
    font-size: 10pt;
}

textarea, input[type='text'], input[type='email'] {
    font-size: 16px;

    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    background-color: #eee !important;
    border: solid 1px #888 !important;
}

textarea:focus {
    border: none;
}

.content {
    /*background-color: #700;*/
    background-color: black;
}
.curtain {
    background-color: #111;
    background-image: radial-gradient(#ccc 1%, transparent 2%),
    radial-gradient(#ccc 1%, transparent 2%);
    background-size:81px 81px;
    background-position: 12px 12px, 50px 50px;
}
.things {
    background-color: #ddd;
}

h1 a {
    color: inherit;
}

a {
    color: #c77;
}
a:hover {
    color: #777;
}

.btn {
    color: #111;
    background-color: #f3f3f3;
    border-color: #888;
}
.btn:hover, .btn:focus {
    background-color: #c77;
    border-color: #330033;
}

.text, .band {
    max-width: 460px;
    min-height: 1px;
}

.band {
    margin: 0 auto;

    padding-top: 10px;
    padding-left: 18px;
    padding-right: 17px;
    background: #222;
    margin-bottom: 2.5em;
    border: 0;

    text-align: center;
}
.band img {
    margin: auto;
    text-align: center;
    width: 100%;
}

.name {
    color: #888;
    margin-top: 0.8em;
    padding-bottom: 1.4em;

    font-family: 'Oxygen', sans-serif;
    font-size: 14pt;
    font-weight: normal;

    text-align: center;
}

