body {
    padding: 0;
    margin: 0;
    background-color: #651717;
}

h2, div {
    color: white;
    text-align: center;
    font-family: Halant, 'Times New Roman', Times, serif;
    font-weight: normal;
}
h2 {
    margin-bottom: 0;
}
div {
    font-size: 14pt;
}

a {
  color: white;
}

#logo-container {
    margin-top: 2.5em;
    text-align: center;
}