.things-content {
    margin-top: 1.4em;
    margin-bottom: 2em;   
}

.content {
    margin-top: 1.4em;
}

h1, h3 {
    font-family: 'Oxygen';
    padding-bottom: 0.7ex;

    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    position: relative;
}

h1 {
    font-family: 'chalk-hand-lettering-shadedRg';
    font-size: 36pt;

    text-align: right;
}
h2 {
    text-align: right;
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
    
    font-size: 14pt;
    padding-top: 0;
    margin-top: 0.25em;
}
h3, textarea, input {
    margin-bottom: 1ex;
}
h3 {
    margin-top: 1.3em;
}

div, p {
    font-size: 12pt;
}
.message {
    font-size: 10pt;
}

textarea, input[type='text'], input[type='email'] {
    font-size: 16px;

    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    background-color: #eee !important;
    border: solid 1px #888 !important;
}

textarea:focus {
    border: none;
}

/*.container {
    background-color: yellow;
}*/
body {
    background-color: #ddd;
    color: #222;
}
.curtain {
    background-color: #ddd;
}

h1 a {
    color: inherit;
}

a {
    color: #c77;
}
a:hover {
    color: #777;
}

.question-block {
    margin-left: 2.3em;
}

.btn {
    margin-top: 1.4em;
    margin-right: 2ex;
    margin-bottom: 5em;
}

/*.btn {
    color: #111;
    background-color: #f3f3f3;
    border-color: #888;
}
.btn:hover, .btn:focus {
    background-color: #c77;
    border-color: #330033;
}*/
