<configuration>
  <system.web>
  </system.web>
  <system.webServer>
    
    <!-- indicates that the server.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- adds server.js to the default document list to allow 
    URLs that only specify the application root location, 
    e.g. http://swingandblues.org/rsvp/submit/ -->

    
    <defaultDocument enabled="true">
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>

        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/rsvp/submit" defaultValue="/_app/server.js">
                    <add key="/rsvp/submit/*" value="/_app/server.js" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Rewrite rule1 for /rsvp/submit">
                    <match url=".*" />
                    <conditions>
                        <add input="{/rsvp/submit:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>


  </system.webServer>
</configuration>
