/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  margin-left: 0;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "";
}

.menu:after {
  content: "";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Admin */
#guestList, #hostList {
  list-style: none !important;
}

.odd {
  background-color: #eee;
}

.show {
  display: none;
}

.btn, .btn-inverse {
  background: inherit;
}

.new {
  background-color: pink;
}

.new.odd {
  background-color: #EEA9B8;
}

.new .btn {
  background-color: #dd98a7;
  color: black;
}

.new .btn.active {
  background-color: #cc8796;
}

.reminded {
  background-color: #A4D3EE;
}
.reminded.odd {
  background-color: #93c2dd;  
}
.reminded .btn {
  color: #111;
  background-color: #82b1cc;
}
.reminded .btn.active {
  color: #111;
  background-color: #71a0bb;
}

.received {
  background-color: olive;
  color: #ddd;
}
.received.odd {
  background-color: #770;
  color: #ddd;
}
.received .btn {
  background-color: #660;
  color: #ddd;
}
.received .btn.active {
  background-color: #550;
  color: #ddd;
}

.row:hover {
  margin-left: -15px;
  margin-right: -5px;
}

/* Shirts */
.shirtEmailButton.emailed {
  display: none;
}
.shirtEmailButton.true {
  background: olive;
}

.happy {
  display: none;
}
.emailed.happy {
  display: block;
}


